annotated-types==0.7.0
anyio==4.5.2
apimatic-core==0.2.15
apimatic-core-interfaces==0.1.5
apimatic-requests-client-adapter==0.1.6
asgiref @ file:///C:/b/abs_ae1n0p_8_w/croot/asgiref_1724072476516/work
backports.zoneinfo @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_29zz4uumbw/croots/recipe/backports.zoneinfo_1661287541232/work
CacheControl==0.12.14
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
deprecation==2.1.0
distro==1.9.0
Django==4.2.11
django-environ==0.11.2
djangorestframework==3.15.2
exceptiongroup==1.2.2
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
idna==3.10
jiter==0.7.0
jsonpickle==3.0.4
jsonpointer==2.4
msgpack==1.1.0
openai==1.51.0
packaging==24.1
psycopg2 @ file:///C:/b/abs_4aotb39ojr/croot/psycopg2_1704232487763/work
pydantic==2.9.2
pydantic_core==2.23.4
python-dateutil==2.8.2
python-dotenv==1.0.1
requests==2.32.3
six==1.16.0
sniffio==1.3.1
sqlparse @ file:///C:/b/abs_88361ub_qu/croot/sqlparse_1690904577514/work
squareup==37.1.1.20240717
tqdm==4.66.6
typing_extensions @ file:///C:/b/abs_0as9mdbkfl/croot/typing_extensions_1715268906610/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3==2.2.3
whitenoise==6.6.0
Pillow==10.4.0
