

<!DOCTYPE html>
<html>
<head>
    <title>Video Editing Course</title>
</head>
<body>
    <h1>Video Editing Course</h1>
    <p>Default description</p>
    <img src="/media/myapp/images/course/favicon.png" alt="Video Editing Course">
    <p>Units: 1</p>
    <p>Hours: 1</p>
    
    <h2>Sub-Courses</h2>
    <ul>
        
            <li>Getting Started with Your First Edit - Default description</li>
            <ul>
                
                    <li>Importing and Organizing Your Footage - Importing and Organizing Your Footage</li>
                
                    <li>Cutting and Trimming Footage - Cutting and Trimming Footage</li>
                
                    <li>Adding Text and Titles - Adding Text and Titles</li>
                
            </ul>
        
            <li>Working with Audio - Default description</li>
            <ul>
                
                    <li>Importing and Syncing Audio - Importing and Syncing Audio</li>
                
                    <li>Basic Audio Editing - Basic Audio Editing</li>
                
                    <li>Choosing the Right Music - Choosing the Right Music</li>
                
            </ul>
        
            <li>Transitions and Effects - Default description</li>
            <ul>
                
                    <li>Adding Transitions Between Clips - Adding Transitions Between Clips</li>
                
                    <li>Basic Video Effects - Basic Video Effects</li>
                
                    <li>Green Screen Basics (Optional) - Green Screen Basics (Optional)</li>
                
            </ul>
        
            <li>Enhancing Your Video with Color Correction - Default description</li>
            <ul>
                
                    <li>Introduction to Color Correction - Introduction to Color Correction</li>
                
                    <li>Color Grading for Style - Color Grading for Style</li>
                
                    <li>Fixing Common Video Problems - Fixing Common Video Problems</li>
                
            </ul>
        
            <li>Finalizing and Exporting Your Video - Default description</li>
            <ul>
                
                    <li>Reviewing and Polishing Your Edit - Reviewing and Polishing Your Edit</li>
                
                    <li>Exporting Your Video - Exporting Your Video</li>
                
                    <li>Uploading and Sharing Your Video - Uploading and Sharing Your Video</li>
                
            </ul>
        
            <li>Introduction to Video Editing - Default description</li>
            <ul>
                
                    <li>What is Video Editing? - What is Video Editing?</li>
                
                    <li>Video Editing Tools Overview - Video Editing Tools Overview</li>
                
                    <li>The Basics of Video Formats - The Basics of Video Formats</li>
                
            </ul>
        
            <li>Advanced Editing Techniques (Optional) - Default description</li>
            <ul>
                
                    <li>Multicam Editing - Multicam Editing</li>
                
                    <li>Advanced Effects (Motion Tracking, Keyframing) - Advanced Effects (Motion Tracking, Keyframing)</li>
                
                    <li>Speed Ramping and Time-Lapse - Speed Ramping and Time-Lapse</li>
                
            </ul>
        
            <li>Final Project – Editing Your Own Video - Default description</li>
            <ul>
                
                    <li>Planning Your Final Project - Planning Your Final Project</li>
                
                    <li>Editing Your Final Video - Editing Your Final Video</li>
                
                    <li>Adding Final Touches and Exporting - Adding Final Touches and Exporting</li>
                
            </ul>
        
    </ul>
</body>
</html>
