{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Main Goal{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="mobile-container">
    <div class="container text-center mt-4">
        <h2>What’s your biggest goal right now?</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 mb-4 mt-4">
                    <button type="submit" name="main_goal" value="Growing my business through new opportunities." class="btn btn-light btn-goal d-flex align-items-center">
                        <img src="{% if gender == 'Male' %}{% static 'myapp/images/quiz/male_grow_wealth.webp' %}{% else %}{% static 'myapp/images/quiz/female_grow_wealth.webp' %}{% endif %}" alt="Grow Business" class="img-fluid goal-image" />
                        <span>Growing my business through new opportunities.</span>
                    </button>
                </div>
                <div class="col-12 col-md-12 mb-4 mt-4">
                    <button type="submit" name="main_goal" value="Becoming more confident in running my business." class="btn btn-light btn-goal d-flex align-items-center">
                        <img src="{% if gender == 'Male' %}{% static 'myapp/images/quiz/male_be_my_own_boss.webp' %}{% else %}{% static 'myapp/images/quiz/female_be_my_own_boss.webp' %}{% endif %}" alt="Confidence in Business" class="img-fluid goal-image" />
                        <span>Becoming more confident in running my business.</span>
                    </button>
                </div>
                <div class="col-12 col-md-12 mb-4 mt-4">
                    <button type="submit" name="main_goal" value="Exploring ways to improve my skills and knowledge." class="btn btn-light btn-goal d-flex align-items-center">
                        <img src="{% if gender == 'Male' %}{% static 'myapp/images/quiz/male_travel_the_world.webp' %}{% else %}{% static 'myapp/images/quiz/female_travel_the_world.webp' %}{% endif %}" alt="Improve Skills" class="img-fluid goal-image" />
                        <span>Exploring ways to improve my skills and knowledge.</span>
                    </button>
                </div>
                <div class="col-12 col-md-12 mb-4 mt-4">
                    <button type="submit" name="main_goal" value="Finding strategies to make my business more efficient." class="btn btn-light btn-goal d-flex align-items-center">
                        <img src="{% if gender == 'Male' %}{% static 'myapp/images/quiz/male_grow_wealth.webp' %}{% else %}{% static 'myapp/images/quiz/female_grow_wealth.webp' %}{% endif %}" alt="Business Efficiency" class="img-fluid goal-image" />
                        <span>Finding strategies to make my business more efficient.</span>
                    </button>
                </div>
                <div class="col-12 col-md-12 mb-4 mt-4">
                    <button type="submit" name="main_goal" value="Balancing my work and personal life better." class="btn btn-light btn-goal d-flex align-items-center">
                        <img src="{% if gender == 'Male' %}{% static 'myapp/images/quiz/male_grow_wealth.webp' %}{% else %}{% static 'myapp/images/quiz/female_grow_wealth.webp' %}{% endif %}" alt="Work-Life Balance" class="img-fluid goal-image" />
                        <span>Balancing my work and personal life better.</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .goal-image {
        height: 100%; /* Ensure the image covers the full height of the button */
        width: auto; /* Maintain aspect ratio */
        margin-right: 20px;
        border-radius: 10px 0 0 10px; /* Match the button's rounded corners on the left side */
        object-fit: cover; /* Ensure the image covers the entire area without distortion */
    }

    .btn-goal {
        display: flex;
        flex-direction: row; /* Aligns image and text horizontally */
        align-items: stretch; /* Align items to stretch vertically */
        justify-content: flex-start;
        width: 100%;
        text-align: left;
        padding: 0; /* Remove any padding inside the button */
        border: none;
        background-color: #f8f9fa;
        border-radius: 10px; /* Rounded corners */
        font-size: 22px; /* Larger font size */
        transition: background-color 0.3s ease;
        height: 100px; /* Set a fixed height for the button */
        overflow: hidden; /* Ensure nothing spills out of the button */
    }

    .btn-goal:hover {
        background-color: #e2e6ea;
    }

    .btn-goal span {
        font-weight: bold;
        flex: 1; /* Make the text take up the remaining space */
        text-align: left; /* Align text to the left */
        padding-left: 20px; /* Space between text and image */
        align-self: center; /* Center the text vertically */
    }

    @media (min-width: 768px) {
        .goal-image {
            height: 100%; /* Ensure the image height is full in larger screens as well */
            width: auto; /* Maintain aspect ratio */
        }
        .btn-goal {
            font-size: 20px; /* Adjust font size */
            height: 100px; /* Consistent height across screen sizes */
        }
    }
</style>

{% endblock %}
