{% load static %}

<!DOCTYPE html>
<html lang="zxx">
 <head>
  <title>
   Contact | iRiseUp
  </title>
  <!-- /SEO Ultimate -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport"/>
  <meta charset="utf-8"/>
  <link href="{% static 'assets/images/favicon/apple-icon-57x57.png' %}" rel="apple-touch-icon" sizes="57x57"/>
  <link href="{% static 'assets/images/favicon/apple-icon-60x60.png' %}" rel="apple-touch-icon" sizes="60x60"/>
  <link href="{% static 'assets/images/favicon/apple-icon-72x72.png' %}" rel="apple-touch-icon" sizes="72x72"/>
  <link href="{% static 'assets/images/favicon/apple-icon-76x76.png' %}" rel="apple-touch-icon" sizes="76x76"/>
  <link href="{% static 'assets/images/favicon/apple-icon-114x114.png' %}" rel="apple-touch-icon" sizes="114x114"/>
  <link href="{% static 'assets/images/favicon/apple-icon-120x120.png' %}" rel="apple-touch-icon" sizes="120x120"/>
  <link href="{% static 'assets/images/favicon/apple-icon-144x144.png' %}" rel="apple-touch-icon" sizes="144x144"/>
  <link href="{% static 'assets/images/favicon/apple-icon-152x152.png' %}" rel="apple-touch-icon" sizes="152x152"/>
  <link href="{% static 'assets/images/favicon/apple-icon-180x180.png' %}" rel="apple-touch-icon" sizes="180x180"/>
  <link href="{% static 'assets/images/favicon/android-icon-192x192.png' %}" rel="icon" sizes="192x192" type="image/png"/>
  <link href="{% static 'assets/images/favicon/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png"/>
  <link href="{% static 'assets/images/favicon/favicon-96x96.png' %}" rel="icon" sizes="96x96" type="image/png"/>
  <link href="{% static 'assets/images/favicon/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png"/>
  <link href="{% static 'assets/images/favicon/manifest.json' %}" rel="manifest"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="/ms-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#ffffff" name="theme-color"/>
  <!-- Latest compiled and minified CSS -->
  <link href="{% static 'assets/bootstrap/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'assets/js/bootstrap.min.js' %}" rel="stylesheet"/>
  <!-- Font Awesome link -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet"/>
  <!-- StyleSheet link CSS -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" type="text/css"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" rel="stylesheet"/>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
 </head>
 <body>
  <!--Header  -->
  <div class="sub-banner">
    {% include "myapp/aibots/iriseupai/header.html" %}
   <figure class="sub-bannersideshape mb-0">
    <img alt="" class="img-fluid" src="{% static 'assets/images/sub-bannersideshape.png' %}"/>
   </figure>
   <!-- Sub-Banner -->
   <section class="banner-section">
    <div class="container">
     <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12 col-12">
            <div class="banner_content" data-aos="fade-right">
              <h1 class="text-white">
                Get in Touch
              </h1>
              <p class="text-white">
                Whether you have questions, big ideas, or need help figuring out where to start—we’re here to listen, guide, and elevate.
              </p>
              <div class="box">
                <span class="mb-0">Home</span>
                <i class="first fa-regular fa-angle-right"></i>
                <i class="second fa-regular fa-angle-right"></i>
                <span class="mb-0 box_span">Contact</span>
              </div>
            </div>
          </div>
          
      <div class="col-lg-5 col-md-6 col-sm-12 col-12">
       <div class="banner_wrapper">
        <figure class="mb-0 sub-bannerimage">
         <img alt="" class="" src="{% static 'assets/images/sub-bannerimage.png' %}"/>
        </figure>
       </div>
      </div>
     </div>
    </div>
    <figure class="sub-bannersideshape2 mb-0">
     <img alt="" class="img-fluid" src="{% static 'assets/images/sub-bannersideshape2.png' %}"/>
    </figure>
   </section>
  </div>
  <!--Contact section-->
  <section class="contact-section">
   <div class="container">
    <div class="row">
     <div class="col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="contact_content" data-aos="fade-right">
       <h5>
        Our Details
       </h5>
       <h2>
        Contact Information
       </h2>
       <div class="contact-box">
        <div class="box-image">
         <figure class="contact-location">
          <img alt="" class="img-fluid" src="{% static 'assets/images/contact-location.png' %}"/>
         </figure>
        </div>
        <div class="box-content">
         <h4>
          Location:
         </h4>
         <p class="text-size-18">
          175 S. 3rd St. STE 200
Columbus, OH 43215
         </p>
        </div>
       </div>
       <div class="contact-box box-mb">
        <div class="box-image">
         <figure class="contact-phone">
          <img alt="" class="img-fluid" src="{% static 'assets/images/contact-phone.png' %}"/>
         </figure>
        </div>
        <div class="box-content">
         <h4 class="heading">
          Phone:
         </h4>
         <p>
          <a class="text-decoration-none text text-size-18" href="tel:+61383766284">
           +1 740 583 0770
          </a>
         </p>
         <p>
          <a class="mb-0 text-decoration-none text text-size-18" href="tel:+80023456789">
           
          </a>
         </p>
        </div>
       </div>
       <div class="contact-box">
        <div class="box-image">
         <figure class="contact-email">
          <img alt="" class="img-fluid" src="{% static 'assets/images/contact-email.png' %}"/>
         </figure>
        </div>
        <div class="box-content">
         <h4 class="heading">
          Email:
         </h4>
         <p>
          <a class="text-decoration-none text-size-18" href="mailto:hello@iriseup.ai">
           hello@iriseup.ai
          </a>
         </p>
         <p>
          <a class="mb-0 text-decoration-none text-size-18" href="mailto:">
           
          </a>
         </p>
        </div>
       </div>
      </div>
     </div>
     <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="need-section">
            <div class="need_content">
                <h3>Need any Help?</h3>
                <p class="text-size-16">Got questions or feedback? Drop us a message—we’re here for you.</p>
                <form method="post" enctype="multipart/form-data" class="contact-us-form">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group mb-0">
                        <input class="form_style" name="requester" type="text" placeholder="Your Name" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group mb-0">
                        <input class="form_style" name="email" type="email" placeholder="Your Email" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group mb-0">
                        <input class="form_style" name="subject" type="text" placeholder="Subject" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group mb-0">
                        <textarea class="form_style" name="description" placeholder="Your Message" rows="3" required></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="manage-button text-center">
                    <button class="submit_now text-decoration-none" type="submit">
                      Submit Now <i class="circle fa-regular fa-angle-right"></i>
                    </button>
                  </div>
                </form>
                <figure class="faq-image mb-0">
                  <img src="{% static 'important/images/faq-image.png' %}" class="img-fluid" alt="FAQ Image"/>
                </figure>
              </div>
            </div>
    </div>
   </div>
  </section>

  <!-- Footer -->
  
  {% include "myapp/aibots/iriseupai/footer.html" %}
  <!-- Latest compiled JavaScript -->
  <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}">
  </script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}">
  </script>
  <script src="{% static 'assets/js/video_link.js' %}">
  </script>
  <script src="{% static 'assets/js/video.js' %}">
  </script>
  <script src="{% static 'assets/js/counter.js' %}">
  </script>
  <script src="{% static 'assets/js/custom.js' %}">
  </script>
  <script src="{% static 'assets/js/animation_links.js' %}">
  </script>
  <script src="{% static 'assets/js/animation.js' %}">
  </script>
 </body>
</html>
