{% load static %}
<section class="footer-section">
    <div class="container">
      <figure class="footer-sideshape mb-0">
        <img alt="" class="img-fluid" src="{% static 'important/images/footer-sideshape.png' %}" />
      </figure>
  
      <div class="middle-portion">
        <div class="row">
          <!-- Logo & Intro -->
          <div class="col-lg-4 col-md-5 col-sm-6 col-12">
            <a href="#">
              <figure class="footer-logo">
                <img alt="iRiseUp Logo" class="img-fluid" src="{% static 'assets/images/iriseuplogowhite.png' %}" />
              </figure>
            </a>
            <p class="text-size-16 footer-text text-white">
              iRiseUp.AI is your everyday AI partner—built to support real people, in real life. No complexity, just clarity.
            </p>
            <ul class="list-unstyled mb-0 social-icons">
              <li class="circle"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li class="circle"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li class="circle"><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
  
          <!-- Quick Links -->
          <div class="col-lg-2 col-md-3 col-sm-12 col-12 d-md-block d-none">
            <div class="links">
              <h4 class="heading text-white">Quick Links</h4>
              <ul class="list-unstyled mb-0">
                <li><i class="fa-solid fa-angle-right"></i><a class="text-size-16 text-decoration-none" href="{% url 'landing_for_iriseup' %}">Home</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a class="text-size-16 text-decoration-none" href="{% url 'about_us' %}">About</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a class="text-size-16 text-decoration-none" href="{% url 'service' %}">Services</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a class="text-size-16 text-decoration-none" href="{% url 'iriseup_contact_us' %}">Contact</a></li>
              </ul>
            </div>
          </div>
  

  
          <!-- Contact Info -->
          <div class="col-lg-3 col-md-4 col-sm-6 col-12 d-sm-block">
            <div class="icon">
              <h4 class="heading text-white">Get in Touch</h4>
              <ul class="list-unstyled mb-0">
                <li class="text">
                  <i class="fa fa-phone footer-location"></i>
                  <a class="text-decoration-none text-size-16" href="tel:+61383766284">+1 740 583 0770</a>
                </li>
                <li class="text">
                  <i class="fa fa-envelope footer-location"></i>
                  <a class="text-decoration-none text-size-16" href="mailto:hello@iriseup.ai">hello@iriseup.ai</a>
                </li>
                <li class="text">
                  <i class="fa-solid fa-location-dot footer-location"></i>
                  <p class="text-size-16">175 S. 3rd St. STE 200
Columbus, OH 43215</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>