<!-- Elevate (formerly Inspire) -->
<button class="upgrades-btn" onclick="location.href='{% url 'chat_view' bot_name='elevate' %}'">Start Chat</button>

<!-- Thrive (formerly Pulse) -->
<button class="upgrades-btn" onclick="location.href='{% url 'chat_view' bot_name='thrive' %}'">Start Chat</button>

<!-- Lumos (formerly Soulspark) -->
<button class="upgrades-btn" onclick="location.href='{% url 'chat_view' bot_name='lumos' %}'">Start Chat</button>

<!-- Nexara (formerly Bridge) -->
<button class="upgrades-btn" onclick="location.href='{% url 'chat_view' bot_name='Nexara' %}'">Start Chat</button>

<!-- Mentor IQ (formerly Mindforge) -->
<button class="upgrades-btn" onclick="location.href='{% url 'chat_view' bot_name='mentor-iq' %}'">Start Chat</button>

<!-- Gideon (formerly Pathfinder) -->
<button class="upgrades-btn" onclick="location.href='{% url 'chat_view' bot_name='gideon' %}'">Start Chat</button>

<!-- Keystone (formerly Fortify) -->
<button class="upgrades-btn" onclick="location.href='{% url 'chat_view' bot_name='keystone' %}'">Start Chat</button>

<!-- Imagine (formerly Echo) -->
<button class="upgrades-btn" onclick="location.href='{% url 'chat_view' bot_name='imagine' %}'">Start Chat</button>
