{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Turn Dreams into Reality{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="mobile-container">
<div class="container text-center">
    <h2>Turn Dreams into Reality!</h2>
    <img src="{% static 'myapp/images/absolutely_interest.png' %}" alt="Turn Dreams into Reality" class="img-fluid mb-3">
    <p>Our learning challenge will help you turn your passions into a thriving career. Start living your dream today and join the 87% of people who love what they do!</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-follow">Continue</button>
    </form>
</div>
</div>
{% endblock %}
