{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Next Steps{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="container text-center">
    <h2>You're on the Right Path!</h2>
    <img src="{% static 'myapp/images/after_age_image.png' %}" alt="Next Steps" class="img-fluid mb-3">
    <p>As you move forward, take pride in your journey. You're laying the foundation for a brighter future!</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Continue</button>
    </form>
</div>
{% endblock %}
