{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Next Steps{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="mobile-container">
<div class="container text-center">
    <h2>100 000+ people</h2>
    <h4>already use iRiseUp.Ai</h4>
    <img src="{% static 'myapp/images/quiz/Harvardbusinessreview.png' %}" alt="Next Steps" class="img-fluid mb-3">
    <p>As you move forward, take pride in your journey. You're laying the foundation for a brighter future!</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-follow">Continue</button>
    </form>
</div>
</div>
{% endblock %}
