{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Overcoming Challenges{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="mobile-container">
<div class="container text-center">
    <h2>Stability Is Within Reach</h2>
    <img src="{% static 'myapp/images/after_job_challenges_image.png' %}" alt="Overcoming Challenges" class="img-fluid mb-3">
    <p>Thank you for sharing, we will do our best to help you!
        We have helped more than 100,000 people to boost their productivity and income potential at work and life using latest AI tools.</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-follow">Continue</button>
    </form>
</div>
<style>

 
</style>
{% endblock %}
