{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Select Age{% endblock %}
{% block content %}
<style>
    small {
    font-size: 14px; /* Adjust the font size to be smaller than the regular text */
    color: #6c757d;  /* A neutral color like grey */
    font-weight: 400; /* Keep the weight lighter for a softer look */
    display: block;   /* Ensures it appears on a new line under the main text */
    margin-top: 5px;  /* Adds some space between the main text and the <small> text */
    line-height: 15px;
}

</style>
{% include 'myapp/quiz/header.html' %}
<div class="mobile-container">
<div class="container text-center">
    <h2 style="font-size: 36px;">Select Your Heritage or Legacy</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-6 col-md-6">
                {% if gender == 'Male' %}
                    <button type="submit" name="age_range" value="Legacy" class="btn btn-light btn-age">
                        <img src="{% static 'myapp/images/quiz/male_age_35-44.webp' %}" alt="Age 35-44" class="img-fluid age-image" />
                        <p>Legacy<br><small>Experienced Entrepreneur</small></p>
                    </button>
                {% elif gender == 'Female' %}
                    <button type="submit" name="age_range" value="Legacy" class="btn btn-light btn-age">
                        <img src="{% static 'myapp/images/quiz/female_age 35-44.webp' %}" alt="Age 35-44" class="img-fluid age-image" />
                        <p>Legacy<br><small>Experienced Entrepreneur</small></p>
                    </button>
                {% endif %}
            </div>
            <div class="col-6 col-md-6">
                {% if gender == 'Male' %}
                    <button type="submit" name="age_range" value="Heritage" class="btn btn-light btn-age">
                        <img src="{% static 'myapp/images/quiz/male_age_45+.webp' %}" alt="Age 45+" class="img-fluid age-image" />
                        <p>Heritage<br><small>Seasoned Innovator</small></p>
                    </button>
                {% elif gender == 'Female' %}
                    <button type="submit" name="age_range" value="Heritage" class="btn btn-light btn-age">
                        <img src="{% static 'myapp/images/quiz/female_45+.webp' %}" alt="Age 45+" class="img-fluid age-image" />
                        <p>Heritage<br><small>Seasoned Innovator</small></p>
                    </button>
                {% endif %}
            </div>
        </div>
    </form>
    
    <p>
        By choosing your heritage or legacy, you agree with <a href="{% url 'terms_conditions' %}">Terms & Conditions</a>, <a href="{% url 'privacy_policy' %}">Privacy Policy</a>, <a href="{% url 'subscription_terms' %}">Subscription Terms</a>
    </p>
    <p>iRiseUp Academy, Columbus Ohio. 2024 &copy; All Rights Reserved.</p>
</div>
</div>

<style>
    .gender-image, .age-image {
        max-width: 100%;
        height: auto;
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 8px; /* Add rounded corners for better appearance */
    }
    .btn-gender, .btn-age {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        padding: 10px;
        border: 2px solid #f8f9fa;
        background-color: #ffffff;
        border-radius: 8px; /* Add rounded corners to the button */
        transition: transform 0.2s ease-in-out; /* Smooth button interaction */
    }
    .btn-gender:hover, .btn-age:hover {
        transform: scale(1.05); /* Slight zoom-in on hover */
    }
    .btn-gender p, .btn-age p {
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
    }
</style>
{% endblock %}
