{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Select Age{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="mobile-container">
<div class="container text-center">
    <h2>Select Your Age</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-6 col-md-4">
                {% if gender == 'Male' %}
                    <button type="submit" name="age_range" value="35-44" class="btn btn-light btn-age">
                        <img src="{% static 'myapp/images/quiz/Male35.png' %}" alt="Age 35-44" class="img-fluid age-image" />
                        <p>Age: 35-44</p>
                    </button>
                {% elif gender == 'Female' %}
                    <button type="submit" name="age_range" value="35-44" class="btn btn-light btn-age">
                        <img src="{% static 'myapp/images/quiz/Female35.png' %}" alt="Age 35-44" class="img-fluid age-image" />
                        <p>Age: 35-44</p>
                    </button>
                {% endif %}
            </div>
            <div class="col-6 col-md-4">
                {% if gender == 'Male' %}
                    <button type="submit" name="age_range" value="45+" class="btn btn-light btn-age">
                        <img src="{% static 'myapp/images/quiz/Male55.png' %}" alt="Age 45+" class="img-fluid age-image" />
                        <p>Age: 45+</p>
                    </button>
                {% elif gender == 'Female' %}
                    <button type="submit" name="age_range" value="45+" class="btn btn-light btn-age">
                        <img src="{% static 'myapp/images/quiz/Female45.png' %}" alt="Age 45+" class="img-fluid age-image" />
                        <p>Age: 45+</p>
                    </button>
                {% endif %}
            </div>
        </div>
    </form>
    <p>
        By choosing your age, you agree with <a href="#">Terms and Conditions</a>, <a href="#">Privacy Policy</a>, <a href="#">Subscription Terms</a>
    </p>
    <p>iRiseUp.ai, Limassol, Cyprus. 2024 &copy; All Rights Reserved.</p>
</div>
</div>
{% endblock %}