{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}AI Mastery Readiness{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="mobile-container">
<div class="container text-center">
    <h2 style="font-size: 36px;">Rate your readiness to master AI</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 col-md-11 mb-3 mt-3">
                <button type="submit" name="ai_mastery_readiness" value="All set - I am fully prepared" class="btn btn-light btn-readiness d-flex align-items-center">
                    <span class="emoji">🚀</span>
                    <span>All set - I am fully prepared</span>
                </button>
            </div>
            <div class="col-12 col-md-11 mb-3 mt-3">
                <button type="submit" name="ai_mastery_readiness" value="Ready - I feel confident" class="btn btn-light btn-readiness d-flex align-items-center">
                    <span class="emoji">👍</span>
                    <span>Ready - I feel confident</span>
                </button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-11 mb-3 mt-3">
                <button type="submit" name="ai_mastery_readiness" value="Somewhat Ready - I have some knowledge" class="btn btn-light btn-readiness d-flex align-items-center">
                    <span class="emoji">🤔</span>
                    <span>Somewhat Ready - I have some knowledge</span>
                </button>
            </div>
            <div class="col-12 col-md-11 mb-3 mt-3">
                <button type="submit" name="ai_mastery_readiness" value="Not Ready - I need more preparation" class="btn btn-light btn-readiness d-flex align-items-center">
                    <span class="emoji">⚠️</span>
                    <span>Not Ready - I need more preparation</span>
                </button>
            </div>
        </div>
    </form>
</div>

<style>
    .emoji {
        font-size: 50px; /* Size of the emojis */
        margin-right: 15px; /* Space between emoji and text */
    }

    .btn-readiness {
        display: flex;
        flex-direction: row; /* Aligns emoji and text horizontally */
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        text-align: left;
        padding: 15px 20px; /* Adjust padding for consistency */
        border: none;
        background-color: #f8f9fa;
        border-radius: 10px;
        font-size: 20px;
        transition: background-color 0.3s ease;
    }

    .btn-readiness:hover {
        background-color: #e2e6ea; /* Add a hover effect */
    }

    .btn-readiness span {
        font-weight: normal;
    }
</style>
{% endblock %}
