{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Annual Income Goal{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="mobile-container">
    <div class="container text-center">
        <h2>What annual income level do you want to achieve?</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 mb-3">
                    <button type="submit" name="annual_income_goal" value="30,000 – $50,000" class="btn btn-light btn-income">
                        <span>30,000 – $50,000</span>
                    </button>
                </div>
                <div class="col-12 col-md-10 mb-3">
                    <button type="submit" name="annual_income_goal" value="$50,000 – $100,000" class="btn btn-light btn-income">
                        <span>$50,000 – $100,000</span>
                    </button>
                </div>
                <div class="col-12 col-md-10 mb-3">
                    <button type="submit" name="annual_income_goal" value="More than $100,000" class="btn btn-light btn-income">
                        <span>More than $100,000</span>
                    </button>
                </div>
            </div>
        </form>
        <div class="d-flex justify-content-center mt-4">
            {% if gender == 'Male' %}
                <img src="{% static 'myapp/images/quiz/5.webp' %}" alt="Annual Income Goal" class="img-fluid income-goal-image">
            {% elif gender == 'Female' %}
                <img src="{% static 'myapp/images/quiz/female_5.webp' %}" alt="Annual Income Goal" class="img-fluid income-goal-image">
            {% endif %}
        </div>
    </div>
</div>

<style>
    h2 {
        font-size: 1.75rem;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .btn-income {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        text-align: left;
        padding: 15px 20px;
        border-radius: 10px;
        background-color: #f4f4f4;
        font-size: 1.1rem;
        font-weight: bold;
        border: 1px solid #dcdcdc;
        transition: background-color 0.3s ease;
    }

    .btn-income:hover {
        background-color: #e2e2e2;
    }

    .btn-income span {
        display: block;
        font-weight: bold;
    }

    .income-goal-image {
        max-width: 60%;
        height: auto;
        border-radius: 8px;
        margin-top: 20px;
    }

    @media (max-width: 767px) {
        .btn-income {
            max-width: 100%;
            text-align: center;
        }

        .income-goal-image {
            max-width: 100%;
            margin-top: 10px;
        }
    }
</style>
{% endblock %}
