{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Control Work Hours{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="mobile-container">
    <div class="container text-center mt-3">
        <h2>Would you enjoy having more flexibility in choosing when and where you spend your time during retirement?</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-12 col-md-11 mb-3 mt-3">
                    <button type="submit" name="control_work_hours" value="Yes" class="btn btn-light btn-control">
                        <span class="emoji">🕒</span>
                        <span>Yes</span>
                    </button>
                </div>
                <div class="col-12 col-md-11 mb-3 mt-3">
                    <button type="submit" name="control_work_hours" value="No" class="btn btn-light btn-control">
                        <span class="emoji">🚫</span>
                        <span>No</span>
                    </button>
                </div>
                <div class="col-12 col-md-11 mb-3 mt-3">
                    <button type="submit" name="control_work_hours" value="Hm, not sure" class="btn btn-light btn-control">
                        <span class="emoji">🤔</span>
                        <span>Hm, not sure</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .emoji {
        font-size: 50px;
        margin-right: 15px; /* Space between emoji and text */
    }

    .btn-control {
        display: flex;
        flex-direction: row; /* Aligns emoji and text horizontally */
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        text-align: left;
        padding: 15px 20px; /* Adjust padding for consistency */
        border: none;
        background-color: #f8f9fa;
        border-radius: 10px;
        font-size: 20px;
        transition: background-color 0.3s ease;
    }

    .btn-control:hover {
        background-color: #e2e6ea;
    }

    .btn-control span {
        font-weight: normal;
    }
</style>
{% endblock %}
