{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Digital Marketing Knowledge{% endblock %}
{% block content %}
<div class="container text-center">
    <h2>Rate your knowledge in digital marketing</h2>
    <p>According to Upwork, digital marketer makes around $100,000 annually.</p>
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="digital_marketing_knowledge" value="Expert - I have extensive knowledge" class="btn btn-light btn-knowledge d-flex align-items-center">
                    <img src="{% static 'myapp/images/digital_marketing_knowledge/expert.png' %}" alt="Expert - I have extensive knowledge" class="img-fluid knowledge-image me-3" />
                    <span>Expert - I have extensive knowledge</span>
                </button>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="digital_marketing_knowledge" value="Proficient - I am skilled" class="btn btn-light btn-knowledge d-flex align-items-center">
                    <img src="{% static 'myapp/images/digital_marketing_knowledge/proficient.png' %}" alt="Proficient - I am skilled" class="img-fluid knowledge-image me-3" />
                    <span>Proficient - I am skilled</span>
                </button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="digital_marketing_knowledge" value="Intermediate - I have some knowledge" class="btn btn-light btn-knowledge d-flex align-items-center">
                    <img src="{% static 'myapp/images/digital_marketing_knowledge/intermediate.png' %}" alt="Intermediate - I have some knowledge" class="img-fluid knowledge-image me-3" />
                    <span>Intermediate - I have some knowledge</span>
                </button>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="digital_marketing_knowledge" value="Novice - I have no experience" class="btn btn-light btn-knowledge d-flex align-items-center">
                    <img src="{% static 'myapp/images/digital_marketing_knowledge/novice.png' %}" alt="Novice - I have no experience" class="img-fluid knowledge-image me-3" />
                    <span>Novice - I have no experience</span>
                </button>
            </div>
        </div>
    </form>
</div>

<style>
    .knowledge-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .btn-knowledge {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        padding: 10px;
        border: none;
        background-color: #f8f9fa;
        border-radius: 10px;
    }
    .btn-knowledge span {
        flex-grow: 1;
        text-align: center;
    }
</style>
{% endblock %}
