{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Enter Your Email{% endblock %}

{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="container text-center">
    <h2>Enter your email to get your <strong>Personal AI-Driven Income Growth Challenge!</strong></h2>
    
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group mb-3">
            <label for="email" class="sr-only">Email</label>
            <div class="input-group">
                <span class="input-group-text">
                    📧
                </span>
                <input type="email" name="email" id="email" class="form-control" placeholder="Your email" required>
            </div>
        </div>
        
        <div class="form-check mb-4">
            <input type="checkbox" name="receive_offers" id="receive_offers" class="form-check-input">
            <label for="receive_offers" class="form-check-label">
                I'd like to receive valuable insights, exclusive offers, and the latest news straight to my inbox!
            </label>
        </div>
        
        <button type="submit" class="btn btn-primary btn-lg w-100">CONTINUE</button>
    </form>
</div>

<style>
    .container {
        max-width: 500px;
        margin: 0 auto;
        padding-top: 50px;
    }
    
    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .input-group-text {
        background-color: transparent;
        border: none;
        font-size: 20px; /* Adjusted size for emoji */
    }

    .form-control {
        border: 2px solid #ddd;
        border-radius: 0;
        padding: 15px;
        font-size: 1rem;
    }

    .form-check-label {
        font-size: 0.9rem;
        color: #6c757d;
    }

    .btn-primary {
        background-color: #5e72e4;
        border-color: #5e72e4;
    }
    
    .btn-primary:hover {
        background-color: #324cdd;
        border-color: #324cdd;
    }
</style>
{% endblock %}
