{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Financial Situation{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="mobile-container">
    <div class="container text-center">
        <h2>How Would You Describe Your Financial Situation?</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-12 col-md-11 mb-3">
                    <button type="submit" name="financial_situation" value="I'm comfortable" class="btn btn-light btn-situation">
                        <span class="emoji">😌</span>
                        <span>I’m Financially Comfortable</span>
                    </button>
                </div>
                <div class="col-12 col-md-11 mb-3">
                    <button type="submit" name="financial_situation" value="I would like to have more stability" class="btn btn-light btn-situation">
                        <span class="emoji">🔧</span>
                        <span>I’m Seeking More Stability</span>
                    </button>
                </div>
                <div class="col-12 col-md-11 mb-3">
                    <button type="submit" name="financial_situation" value="I'm struggling to meet my financial goals" class="btn btn-light btn-situation">
                        <span class="emoji">😟</span>
                        <span>I’m Struggling to Reach My Goals</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .emoji {
        font-size: 50px; /* Adjust size as needed */
        margin-right: 15px; /* Space between emoji and text */
    }

    .btn-situation {
        display: flex;
        flex-direction: row; /* Aligns emoji and text horizontally */
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        text-align: left;
        padding: 15px 20px; /* Adjust padding for consistency */
        border: none;
        background-color: #f8f9fa;
        border-radius: 10px;
        font-size: 20px;
        transition: background-color 0.3s ease;
    }

    .btn-situation:hover {
        background-color: #e2e6ea;
    }

    .btn-situation span {
        font-weight: normal;
    }
</style>
{% endblock %}
