{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Focus Ability{% endblock %}
{% block content %}
<div class="container text-center">
    <h2>Do you find it easy to maintain your focus?</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="focus_ability" value="Yes, I can easily stay focused" class="btn btn-light btn-focus d-flex align-items-center">
                    <img src="{% static 'myapp/images/focus_ability/easily_focused.png' %}" alt="Yes, I can easily stay focused" class="img-fluid focus-image me-3" />
                    <span>Yes, I can easily stay focused</span>
                </button>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="focus_ability" value="Mostly, but I sometimes get distracted" class="btn btn-light btn-focus d-flex align-items-center">
                    <img src="{% static 'myapp/images/focus_ability/sometimes_distracted.png' %}" alt="Mostly, but I sometimes get distracted" class="img-fluid focus-image me-3" />
                    <span>Mostly, but I sometimes get distracted</span>
                </button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="focus_ability" value="I often struggle" class="btn btn-light btn-focus d-flex align-items-center">
                    <img src="{% static 'myapp/images/focus_ability/often_struggle.png' %}" alt="I often struggle" class="img-fluid focus-image me-3" />
                    <span>I often struggle</span>
                </button>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="focus_ability" value="No, I frequently procrastinate" class="btn btn-light btn-focus d-flex align-items-center">
                    <img src="{% static 'myapp/images/focus_ability/frequently_procrastinate.png' %}" alt="No, I frequently procrastinate" class="img-fluid focus-image me-3" />
                    <span>No, I frequently procrastinate</span>
                </button>
            </div>
        </div>
    </form>
</div>

<style>
    .focus-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .btn-focus {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        padding: 10px;
        border: none;
        background-color: #f8f9fa;
        border-radius: 10px;
    }
    .btn-focus span {
        flex-grow: 1;
        text-align: center;
    }
</style>
{% endblock %}
