{% load static %}

<div class="mobile-container-navbar">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">YourBrand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'terms_conditions' %}">Terms & Conditions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'privacy_policy' %}">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'subscription_terms' %}">Subscription Terms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'support_center' %}">Support Center</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
</div>

<!-- Ensure the following JS files are included to make the navbar toggler work -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
