{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Income Source{% endblock %}
{% block content %}
<div class="container text-center">
    <h2>What is your current income source?</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="income_source" value="Full-time job" class="btn btn-light btn-income d-flex align-items-center">
                    <img src="{% static 'myapp/images/income_sources/full_time_job.png' %}" alt="Full-time job" class="img-fluid income-image me-3" />
                    <span>Full-time job</span>
                </button>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="income_source" value="Passive income" class="btn btn-light btn-income d-flex align-items-center">
                    <img src="{% static 'myapp/images/income_sources/passive_income.png' %}" alt="Passive income" class="img-fluid income-image me-3" />
                    <span>Passive income</span>
                </button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="income_source" value="Other" class="btn btn-light btn-income d-flex align-items-center">
                    <img src="{% static 'myapp/images/income_sources/other.png' %}" alt="Other" class="img-fluid income-image me-3" />
                    <span>Other</span>
                </button>
            </div>
        </div>
    </form>
</div>

<style>
    .income-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .btn-income {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        padding: 10px;
        border: none;
        background-color: #f8f9fa;
        border-radius: 10px;
    }
    .btn-income span {
        flex-grow: 1;
        text-align: center;
    }
</style>
{% endblock %}
