{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Job Interest{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="mobile-container">
<div class="container text-center">
    <h2 style="font-size: 36px;">Would you love to spend your time doing something that aligns with your passions and interests during retirement?</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 mb-4 mt-4">
                <button type="submit" name="job_interest_question" value="Absolutely" class="btn btn-light btn-interest">
                    <span class="emoji">💯</span>
                    <span>Absolutely</span>
                </button>
            </div>
            <div class="col-12 col-md-12 mb-4 mt-4">
                <button type="submit" name="job_interest_question" value="Somewhat" class="btn btn-light btn-interest">
                    <span class="emoji">🙂</span>
                    <span>Somewhat</span>
                </button>
            </div>
            <div class="col-12 col-md-12 mb-4 mt-4">
                <button type="submit" name="job_interest_question" value="Maybe" class="btn btn-light btn-interest">
                    <span class="emoji">🤔</span>
                    <span>Maybe</span>
                </button>
            </div>
            <div class="col-12 col-md-12 mb-4 mt-4">
                <button type="submit" name="job_interest_question" value="Not necessarily" class="btn btn-light btn-interest">
                    <span class="emoji">😐</span>
                    <span>Not necessarily</span>
                </button>
            </div>
        </div>
    </form>
</div>

<style>
    .emoji {
        font-size: 50px;
        margin-right: 15px; /* Space between emoji and text */
    }

    .btn-interest {
        display: flex;
        flex-direction: row; /* Aligns emoji and text horizontally */
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        text-align: left;
        padding: 15px 20px; /* Adjust padding for consistency */
        border: none;
        background-color: #f8f9fa;
        border-radius: 10px;
        font-size: 20px;
        transition: background-color 0.3s ease;
    }

    .btn-interest:hover {
        background-color: #e2e6ea; /* Hover effect */
    }

    .btn-interest span {
        font-weight: normal;
    }
</style>
{% endblock %}
