{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Job Challenges{% endblock %}
{% block content %}
<div class="container text-center">
    <h2>What are the challenges with your current job?</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3">
                <input type="checkbox" name="job_challenges" value="Low income" id="low_income" class="d-none">
                <label for="low_income" class="btn btn-light btn-challenge d-flex align-items-center">
                    <img src="{% static 'myapp/images/challenges/low_income.png' %}" alt="Low income" class="img-fluid challenge-image me-3" />
                    <span>Low income</span>
                </label>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="checkbox" name="job_challenges" value="Financial dependence" id="financial_dependence" class="d-none">
                <label for="financial_dependence" class="btn btn-light btn-challenge d-flex align-items-center">
                    <img src="{% static 'myapp/images/challenges/financial_dependence.png' %}" alt="Financial dependence" class="img-fluid challenge-image me-3" />
                    <span>Financial dependence</span>
                </label>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3">
                <input type="checkbox" name="job_challenges" value="No free time" id="no_free_time" class="d-none">
                <label for="no_free_time" class="btn btn-light btn-challenge d-flex align-items-center">
                    <img src="{% static 'myapp/images/challenges/no_free_time.png' %}" alt="No free time" class="img-fluid challenge-image me-3" />
                    <span>No free time</span>
                </label>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="checkbox" name="job_challenges" value="Routine" id="routine" class="d-none">
                <label for="routine" class="btn btn-light btn-challenge d-flex align-items-center">
                    <img src="{% static 'myapp/images/challenges/routine.png' %}" alt="Routine" class="img-fluid challenge-image me-3" />
                    <span>Routine</span>
                </label>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3">
                <input type="checkbox" name="job_challenges" value="Constant stress" id="constant_stress" class="d-none">
                <label for="constant_stress" class="btn btn-light btn-challenge d-flex align-items-center">
                    <img src="{% static 'myapp/images/challenges/constant_stress.png' %}" alt="Constant stress" class="img-fluid challenge-image me-3" />
                    <span>Constant stress</span>
                </label>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="checkbox" name="job_challenges" value="Toxic environment" id="toxic_environment" class="d-none">
                <label for="toxic_environment" class="btn btn-light btn-challenge d-flex align-items-center">
                    <img src="{% static 'myapp/images/challenges/toxic_environment.png' %}" alt="Toxic environment" class="img-fluid challenge-image me-3" />
                    <span>Toxic environment</span>
                </label>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3">
                <input type="checkbox" name="job_challenges" value="Other" id="other" class="d-none">
                <label for="other" class="btn btn-light btn-challenge d-flex align-items-center">
                    <img src="{% static 'myapp/images/challenges/other.png' %}" alt="Other" class="img-fluid challenge-image me-3" />
                    <span>Other</span>
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Continue</button>
    </form>
</div>

<style>
    .challenge-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .btn-challenge {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        padding: 10px;
        border: none;
        background-color: #f8f9fa;
        border-radius: 10px;
        cursor: pointer;
    }
    .btn-challenge span {
        flex-grow: 1;
        text-align: center;
    }
    .btn-challenge input[type="checkbox"]:checked + label {
        background-color: #e0e0e0;
    }
</style>
{% endblock %}
