{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Learning New Skills{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="mobile-container">
<div class="container text-center">
    <h2>Are you comfortable with learning new skills or techniques?</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="learning_new_skills" value="Yes" class="btn btn-light btn-skills">
                    <span class="emoji">📚</span>
                    <span>Yes</span>
                </button>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="learning_new_skills" value="No" class="btn btn-light btn-skills">
                    <span class="emoji">🚫</span>
                    <span>No</span>
                </button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="learning_new_skills" value="Hm, not sure" class="btn btn-light btn-skills">
                    <span class="emoji">🤔</span>
                    <span>Hm, not sure</span>
                </button>
            </div>
        </div>
    </form>
</div>

<style>
    .emoji {
        font-size: 50px;
        display: block;
        margin-bottom: 10px;
    }
    .btn-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        padding: 20px;
        border: none;
        background-color: #f8f9fa;
        border-radius: 10px;
        font-size: 24px;
    }
    .btn-skills span {
        display: block;
    }
</style>
{% endblock %}
