{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Start Your AI Journey{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
 
<div class="container text-center">
    <h2 style="font-size: 36px;">Start Your AI Journey</h2>
    {% if gender == 'Male' %}
        <img src="{% static 'myapp/images/quiz/2.webp' %}" alt="Strengthen Your AI Foundation" class="img-fluid mb-3 foundation-image">
    {% elif gender == 'Female' %}
        <img src="{% static 'myapp/images/quiz/female_2.webp' %}" alt="Strengthen Your AI Foundation" class="img-fluid mb-3 foundation-image">
    {% endif %}    
    <p>No worries if you're not ready yet—everyone starts somewhere. Our learning challenge will guide you step by step, helping you gain the knowledge and confidence you need to succeed with AI.</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-follow">Continue</button>
    </form>
</div>

<style>
.foundation-image {
        max-width: 60%;
        margin: 20px auto;
    }
 
</style>
{% endblock %}
