{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Discover New Opportunities{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="mobile-container">
<div class="container text-center">
    <h2>Discover New Opportunities</h2>
    {% if gender == 'Male' %}
    <img src="{% static 'myapp/images/quiz/3.webp' %}" alt="Discover Your Ideal Career" class="img-fluid mb-3 reality-image">
    {% elif gender == 'Female' %}
        <img src="{% static 'myapp/images/quiz/female_3.webp' %}" alt="Discover Your Ideal Career" class="img-fluid mb-3 reality-image">
    {% endif %}
    <p style="text-align: left;">There are hundreds of various work opportunities online that have a high-income potential. Moreover, our challenge shows practical examples of how AI may boost your work.</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-follow">Continue</button>
    </form>
</div>

<style>
    .reality-image {
        max-width: 50%; /* Adjust the size as needed */
        height: auto;
    }
 
</style>
{% endblock %}
