{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Your Personalized AI-Driven Plan{% endblock %}
{% block content %}

<div class="mobile-container">
    <div class="header-container d-flex justify-content-between align-items-center">
        <div id="countdown" class="countdown-timer">
            <span id="minutes">10</span>:<span id="seconds">00</span>
        </div>
        <div class="plan-button">
            <button class="card-button btn btn-primary get-plan-btn pulsate">GET MY PLAN</button>
        </div>
    </div>

    <div class="container text-center mt-5">

        <div class="d-flex justify-content-center mt-4">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-6 text-center">
                        <h3>Now</h3>
                        {% if gender == 'Male' %}
                            <img src="{% static 'myapp/images/quiz/3.png' %}" alt="Current" class="img-fluid">
                        {% elif gender == 'Female' %}
                            <img src="{% static 'myapp/images/quiz/1.png' %}" alt="Current" class="img-fluid">
                        {% endif %}
                        <div class="progress-bar-container mt-2">
                            <div class="progress-bar-wrapper">
                                <div class="progress-bar-label">Moderate</div>
                                <div class="progress-bar-fill moderate"></div>
                            </div>
                        </div>
                        <div class="progress-bar-container mt-2">
                            <h4>Income Potential</h4>
                            <div class="progress-bar-wrapper">
                                <div class="progress-bar-fill limited"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <h3>Goal</h3>
                        {% if gender == 'Male' %}
                            <img src="{% static 'myapp/images/quiz/4.png' %}" alt="Goal" class="img-fluid">
                        {% elif gender == 'Female' %}
                            <img src="{% static 'myapp/images/quiz/2.png' %}" alt="Goal" class="img-fluid">
                        {% endif %}
                        <div class="progress-bar-container mt-2">
                            <div class="progress-bar-wrapper">
                                <div class="progress-bar-label">High</div>
                                <div class="progress-bar-fill high"></div>
                            </div>
                        </div>
                        <div class="progress-bar-container mt-2">
                            <h4>Income Potential</h4>
                            <div class="progress-bar-wrapper">
                                <div class="progress-bar-fill high"></div>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
        <p style="text-align: left; color: #aaa;">This is not a guarantee or promise of results.</p>
        
        <div class="card mt-4" style="background-color: #f7f7fc; border-radius: 20px; padding: 30px;">
            <div class="card-body text-center">
                <h3 class="ai-title">AI is easier than you think</h3>
                <div class="ai-content d-flex align-items-center justify-content-center">
                    <img src="{% static 'myapp/images/quiz/ai_image.png' %}" alt="Goal" class="img-fluid ai-image">
                    <div class="ai-days ms-4">
                        <div class="ai-day">Day 1 <span class="ai-day-desc">Images</span></div>
                        <div class="ai-day">Day 2 <span class="ai-day-desc">Writing</span></div>
                        <div class="ai-day">Day 3 <span class="ai-day-desc">Speech</span></div>
                    </div>
                </div>
                <ul class="list-unstyled ai-benefits mt-4">
                    <li>👌 No prior AI knowledge is required</li>
                    <li>🎓 No need for a university degree</li>
                    <li>🕒 Work at your own pace and terms</li>
                </ul>
            </div>
        </div>
        
        <div class="readiness_level" style="padding-top: 20px;">    
            <h2 class="readiness-title" style="text-align: left;">Your readiness: <span class="readiness-percentage">83%</span></h2>
            <div class="readiness-box">
                <p><strong class="highlighted-text">4-week</strong> program is enough for you to start your AI journey <span class="icon">💡</span></p>
            </div>
        </div>

        <div style="padding-top: 30px;">
            <div>
                <h3 style="font-size: x-large;">Try our program and you will:</h3>
                <ul class="list-unstyled" style="text-align: left;">
                    <li>✔️ Master AI tools that can boost your income</li>
                    <li>✔️ Discover new digital professions and income sources</li>
                    <li>✔️ Learn key AI terms and lessons</li>
                </ul>

                <div class="plan-selection-container">
                    <div class="plan-option">
                        <input type="radio" id="1-week-plan" name="plan" value="1-week">
                        <label for="1-week-plan">
                            <div class="plan-header">
                                <span>1-WEEK PLAN</span>
                                <span>$13.86</span>
                            </div>
                        </label>
                    </div>
                    
                    <div class="plan-option most-popular">
                        <input type="radio" id="4-week-plan" name="plan" value="4-week" checked>
                        <label for="4-week-plan">
                            <div class="most-popular-badge">
                                <span>👍 MOST POPULAR</span>
                            </div>
                            <div class="plan-header" style="padding-top: 55px;">
                                <span>4-WEEK PLAN</span>
                                <span>$39.99</span>
                            </div>
                        </label>
                    </div>
                    
                    <div class="plan-option">
                        <input type="radio" id="12-week-plan" name="plan" value="12-week">
                        <label for="12-week-plan">
                            <div class="plan-header">
                                <span>12-WEEK PLAN</span>
                                <span>$79.99</span>
                            </div>
                        </label>
                    </div>

                    <div class="plan-button">
                        <button class="card-button btn btn-primary get-plan-btn pulsate">GET MY PLAN</button>
                    </div>

                    <div class="subscription-info">
                        <p>Extended every 4-week at the price of $39.99 if you do not cancel 24 hours before the renewal date in your account settings. <a href="{% url 'subscription_terms' %}">Subscription Terms</a>.</p>
                    </div>
                </div>

            </div>
            <div class="money-back-container">
                <h2>Money-Back Guarantee</h2>
                <p>We are so confident in our service that we are ready to offer a full refund within 30 days of purchase if you do not achieve initial results and can demonstrate you have followed the plan.</p>
                <p>Learn more about all the conditions in our <a href="{% url 'subscription_terms' %}">Subscription Terms</a>.</p>
            </div>
        </div>
    </div>

    <div id="checkout-modal" class="modal" style="display:none;">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Checkout</h2>
            </div>
            <h3><span style="color: #5860F8;">91% of users </span>are satisfied with the plan and stay with us after its completion</h3>
            
            <div id="payment-selection">
                <button id="card-button" class="payment-selection-btn">Pay with Card (Square)</button>
                <button id="paypal-button" class="payment-selection-btn">Pay with PayPal</button>
            </div>
            
            <div id="card-payment" class="payment-option" style="display:none;">
                <h3 style="text-align: center;">Pay with Card</h3>
                <div id="card-container" class="form-group"></div>
                <button type="submit" class="btn-submit" id="square-submit">Pay Now</button>
            </div>
            
            <div id="paypal-payment" class="payment-option" style="display:none;">
                <h3 style="text-align: center;">Pay with PayPal</h3>
                <div id="paypal-button-container"></div> <!-- PayPal button container -->
            </div>

            <div class="subscription-terms mt-4">
                <p style="text-align: center; font-size: 12px;">You agree that <strong id="selected-plan-price">$39.99</strong> will be as an intro offer, then <strong id="selected-plan-renewal-price">$39.99</strong> will be automatically billed every 4-weeks until you cancel in settings. <a href="#">Subscription Terms</a>.</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://sandbox.web.squarecdn.com/v1/square.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=AcO0pQSFgkyRPtmmgviw2lz2DCojtl28Y_Qr9bligTeR1kOZScy9jecX2eWixffPBqGDJJyxSWn5iT__&currency=USD"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const modal = document.getElementById('checkout-modal');
    const getPlanButtons = document.querySelectorAll('.get-plan-btn');
    const closeBtn = document.getElementsByClassName('close')[0];
    const cardPaymentSection = document.getElementById('card-payment');
    const paypalPaymentSection = document.getElementById('paypal-payment');
    let squareInitialized = false;
    let paypalInitialized = false;

    // Show modal when "GET MY PLAN" buttons are clicked
    getPlanButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            modal.style.display = 'block';
        });
    });

    // Square payment setup function
    async function setupSquarePayments() {
        if (squareInitialized) return;
        const payments = Square.payments('sandbox-sq0idb-YOUR_SQUARE_APP_ID', 'YOUR_LOCATION_ID');
        const card = await payments.card();
        await card.attach('#card-container');

        document.getElementById('square-submit').addEventListener('click', async function (event) {
            event.preventDefault();
            try {
                const result = await card.tokenize();
                if (result.status === 'OK') {
                    const selectedPlan = document.querySelector('input[name="plan"]:checked').value;
                    const amount = determineAmountBasedOnPlan(selectedPlan);

                    const response = await fetch('/process-payment/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        body: JSON.stringify({
                            source_id: result.token,
                            plan: selectedPlan,
                            amount: amount
                        }),
                    });

                    const jsonResult = await response.json();
                    if (jsonResult.success) {
                        window.location.href = '/success/';
                    } else {
                        alert('Payment failed: ' + jsonResult.error);
                    }
                } else {
                    alert('Tokenization failed: ' + result.errors[0].message);
                }
            } catch (e) {
                alert('Payment failed: ' + e.message);
            }
        });
        squareInitialized = true;
    }

    // PayPal payment setup function
    function setupPayPalPayments() {
        if (paypalInitialized) return;
        paypal.Buttons({
            createSubscription: function(data, actions) {
                const selectedPlan = document.querySelector('input[name="plan"]:checked').value;
                let planId;

                if (selectedPlan === '1-week') {
                    planId = 'P-9U5556015X963500XM3L4YEA';
                } else if (selectedPlan === '4-week') {
                    planId = 'P-7JH62341R41906352M3L4YEI';
                } else if (selectedPlan === '12-week') {
                    planId = 'P-4FB80702685344218M3L4YEQ';
                }

                return actions.subscription.create({
                    'plan_id': planId
                });
            },
            onApprove: function(data, actions) {
                fetch(`/complete-paypal-subscription/?subscription_id=${data.subscriptionID}`, {
                    method: 'GET',
                })
                .then(response => response.json())
                .then(result => {
                    if (result.success) {
                        window.location.href = '/success-page/';
                    } else {
                        alert('Subscription failed: ' + result.error);
                    }
                });
            }
        }).render('#paypal-button-container');
        paypalInitialized = true;
    }

    // Event listeners for payment method buttons
    document.getElementById('card-button').addEventListener('click', function () {
        cardPaymentSection.style.display = 'block';
        paypalPaymentSection.style.display = 'none';
        setupSquarePayments();
    });

    document.getElementById('paypal-button').addEventListener('click', function () {
        paypalPaymentSection.style.display = 'block';
        cardPaymentSection.style.display = 'none';
        setupPayPalPayments();
    });

    // Close modal
    closeBtn.addEventListener('click', function () {
        modal.style.display = 'none';
    });

    window.addEventListener('click', function (event) {
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    });
});

// Function to determine the amount based on the selected plan
function determineAmountBasedOnPlan(plan) {
    if (plan === '1-week') {
        return 1386;  // $13.86 in cents
    } else if (plan === '4-week') {
        return 3999;  // $39.99 in cents
    } else if (plan === '12-week') {
        return 7999;  // $79.99 in cents
    }
}
</script>

<style>
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
    display: flex;
    justify-content: center;
    position: relative;
}

.modal-header h2 {
    margin: 0;
}

.modal-header .close {
    position: absolute;
    left: 15px;
    font-size: 1.5rem;
    color: #aaa;
    cursor: pointer;
}

.modal-header .close:hover {
    color: black;
}

.payment-option {
    margin-top: 15px;
}

.get-plan-btn {
    background-color: #5860F8;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
}

.get-plan-btn:hover {
    background-color: #3c4ab8;
}

.pulsate {
    animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
</style>

{% endblock %}
