{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Boost Your AI Confidence{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
 
<div class="container text-center">
    <h2 style="font-size: 36px;">Boost Your AI Confidence!</h2>
    {% if gender == 'Male' %}
        <img src="{% static 'myapp/images/quiz/2.webp' %}" alt="Boost Your AI Confidence" class="img-fluid mb-3 confidence-image">
    {% elif gender == 'Female' %}
        <img src="{% static 'myapp/images/quiz/female_2.webp' %}" alt="Boost Your AI Confidence" class="img-fluid mb-3 confidence-image">
    {% endif %}
    <p style="text-align: left;">You're confident and ready—our learning challenge will enhance your knowledge and skills. Join the 70% of professionals who see a boost in their career with advanced AI training.</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-follow">Continue</button>
    </form>
</div>
</div>

<style>
    .confidence-image {
        max-width: 60%;
        margin: 20px auto;
    }
</style>
{% endblock %}
