{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Sign In{% endblock %}
  
{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f8f8;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .signin_container {
        max-width: 450px;
        margin: 0 auto;
        padding: 50px;
    }
    
    h2 {
        text-align: center;
        margin-bottom: 35px;
        font-size: 2em;
        font-weight: bold;
    }

    .form-group {
        position: relative;
        margin-bottom: 25px;
    }

    label {
        font-size: 1.1em;
        color: #999;
        transition: all 0.2s ease-in-out;
        position: absolute;
        left: 10px;
        top: 15px;
        pointer-events: none;
    }

    input.form-control {
        padding: 12px 10px 12px 10px;
        font-size: 1.2em;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
    }

    input.form-control:focus,
    input.form-control:not(:placeholder-shown) {
        padding-top: 20px;
    }

    input.form-control:focus + label,
    input.form-control:not(:placeholder-shown) + label {
        top: -10px;
        left: 10px;
        font-size: 0.9em;
        color: #6c63ff;
    }

    .input-group-append {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
    }

    .input-group-append svg {
        font-size: 1.5em;
        color: #6c757d;
    }
    
    .input-group-append:hover svg {
        color: #495057;
    }

    .btn-primary {
        background-color: #6c63ff;
        border-color: #6c63ff;
        font-size: 1.2em;
        padding: 15px;
        width: 100%;
    }

    .btn-primary:hover {
        background-color: #5b52d4;
        border-color: #5b52d4;
    }

    .forgot-password {
        text-align: right;
        margin-top: 10px;
        margin-bottom: 25px;
        font-size: 1.1em;
    }

    .signup-text {
        text-align: center;
        margin-top: 25px;
        font-size: 1.1em;
    }
</style>


<div class="signin_container">
    <h2>Welcome Back</h2>
    <form method="post" action="{% url 'sign_in' %}">
        {% csrf_token %}
        
        <div class="form-group">
            <input type="text" id="login_identifier" name="login_identifier" class="form-control" placeholder=" " required>
            <label for="login_identifier">Email or Username</label>
        </div>
        
        
        <div class="form-group password-container">
            <input type="password" name="password" class="form-control" id="password" placeholder=" " required>
            <label for="password">Password</label>
            <div class="input-group-append">
                <span class="input-group-text" id="password-eye" onclick="togglePasswordVisibility()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zm-8 3a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0-1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                    </svg>
                </span>
            </div>
        </div>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <p class="forgot-password"><a href="{% url 'password_reset' %}" style="color: #6c63ff;">Forgot password?</a></p>
        <button type="submit" class="btn btn-primary btn-lg w-100">Sign In</button>
        <p class="signup-text">Don't have an account? <a href="{% url 'start_quiz' %}" style="color: #6c63ff;">Start the quiz</a></p>
    </form>
</div>

<script>
    function togglePasswordVisibility() {
        const passwordInput = document.getElementById('password');
        const passwordEyeIcon = document.getElementById('password-eye').querySelector('i');
        
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            passwordEyeIcon.classList.remove('fa-eye');
            passwordEyeIcon.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = 'password';
            passwordEyeIcon.classList.remove('fa-eye-slash');
            passwordEyeIcon.classList.add('fa-eye');
        }
    }
</script>

{% endblock %}
