{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Discover Your Ideal Career{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
 
<div class="container text-center">
    <h2 style="font-size: 36px;">Discover Your Ideal Career</h2>
    {% if gender == 'Male' %}
    <img src="{% static 'myapp/images/quiz/3.webp' %}" alt="Discover Your Ideal Career" class="img-fluid mb-3 reality-image">
    {% elif gender == 'Female' %}
        <img src="{% static 'myapp/images/quiz/female_3.webp' %}" alt="Discover Your Ideal Career" class="img-fluid mb-3 reality-image">
    {% endif %}
    <p style="text-align: left;">Find the perfect balance between your interests and a successful career with our learning challenge. Unlock greater job satisfaction and take the first step towards your ideal job.</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-follow">Continue</button>
    </form>
</div>
</div>
<style>
    .reality-image {
        max-width: 50%; /* Adjust the size as needed */
        height: auto;
    }
</style>
{% endblock %}
