{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Strengthen Your AI Foundation{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="mobile-container">
<div class="container text-center">
    <h2 style="font-size: 36px;">Strengthen Your AI Foundation</h2>
    {% if gender == 'Male' %}
        <img src="{% static 'myapp/images/quiz/2.webp' %}" alt="Strengthen Your AI Foundation" class="img-fluid mb-3 foundation-image">
    {% elif gender == 'Female' %}
        <img src="{% static 'myapp/images/quiz/female_2.webp' %}" alt="Strengthen Your AI Foundation" class="img-fluid mb-3 foundation-image">
    {% endif %}
    <p style="text-align: left;">You've got some knowledge—now it's time to build on that foundation. Our learning challenge will provide you with the tools and insights needed to master AI.</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-follow">Continue</button>
    </form>
</div>

<style>
    .foundation-image {
        max-width: 60%;
        margin: 20px auto;
    }
</style>
{% endblock %}
