{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Financial Stability{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="mobile-container">
<div class="container text-center">
    <h2>Stability Is Within Reach</h2>
    <img src="{% static 'myapp/images/stability_financial.png' %}" alt="Stability Is Within Reach" class="img-fluid mb-3">
    <p>Learn the strategies to build a stable and secure financial future, starting today. Did you know that 63% of people feel anxious about their financial future? It’s time to turn that anxiety into confidence.</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Continue</button>
    </form>
</div>
</div>
{% endblock %}
