{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Start Quiz{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="mobile-container">
<div class="container text-center">
    <h2 style="font-size: 36px;">AI-Driven Income Growth Challenge</h2>
    <h4>Select Your Gender</h4>
    <p>1-MINUTE QUIZ</p>
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-6 col-md-6">
                <button type="submit" name="gender" value="Male" class="btn btn-light btn-gender">
                    <img src="{% static 'myapp/images/quiz/male_age_35-44.webp' %}" alt="Male" class="img-fluid gender-image" />
                    <p>MALE</p>
                </button>
            </div>
            <div class="col-6 col-md-6">
                <button type="submit" name="gender" value="Female" class="btn btn-light btn-gender">
                    <img src="{% static 'myapp/images/quiz/female_age 35-44.webp' %}" alt="Female" class="img-fluid gender-image" />
                    <p>FEMALE</p>
                </button>
            </div>
        </div>
    </form>
    <p>
        By clicking "Male" or "Female", you agree with <a href="#">Terms and Conditions</a>, <a href="#">Privacy Policy</a>, <a href="#">Subscription Terms</a>
    </p>
    <p>iRiseUp.Ai product by iRiseUp. 2024 &copy; All Rights Reserved.</p>
</div>

<style>
    .gender-image, .age-image {
        max-width: 100%;
        height: auto;
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 8px; /* Add rounded corners for better appearance */
    }
    .btn-gender, .btn-age {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        padding: 10px;
        border: 2px solid #f8f9fa;
        background-color: #ffffff;
        border-radius: 8px; /* Add rounded corners to the button */
    }
    .btn-gender p, .btn-age p {
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
    }
</style>
{% endblock %}
