{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Overcoming Financial Struggles{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
 
<div class="container text-center">
    <h2 style="font-size: 36px;">Turn Struggles into Success</h2>
    {% if gender == 'Male' %}
        <img src="{% static 'myapp/images/quiz/male_financial.webp' %}" alt="Turn Struggles into Success" class="img-fluid mb-3">
    {% elif gender == 'Female' %}
        <img src="{% static 'myapp/images/quiz/female_financial.webp' %}" alt="Turn Struggles into Success" class="img-fluid mb-3">
    {% endif %}
    <p style="text-align: left;">Empower yourself with the tools and knowledge to overcome financial challenges and achieve your goals. Nearly 54% of adults struggle to meet their financial goals, but with the right guidance, you can transform your situation.</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-follow">Continue</button>
    </form>
</div>
</div>
<style>

    .text-center h2 {
        margin-bottom: 20px;
        font-size: 1.5rem;
    }

    .img-fluid {
        max-width: 80%; /* Reduced size for better text visibility */
        height: auto;
        margin-bottom: 20px;
        border-radius: 8px; /* Optional: for a more polished look */
    }

    p {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 30px; /* Increased margin to ensure space between text and button */
        padding: 0 10px;
    }

    
    /* Ensure scrollability for small screens */
    .container.text-center {
        max-height: calc(100vh - 100px); /* Adjust height to leave room for padding */
        overflow-y: auto;
    }
</style>
{% endblock %}
