{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Time Saved Use{% endblock %}
{% block content %}
{% include 'myapp/quiz/header.html' %}
<div class="mobile-container">
<div class="container text-center">
    <h2 style="font-size: 36px;">What would you love to do with the extra time if you didn’t have to deal with tedious tasks anymore during your retirement?</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 mb-4 mt-4">
                <button type="submit" name="time_saved_use" value="Pursue creative passions" class="btn btn-light btn-time-saved">
                    <span class="emoji">🎨</span>
                    <span>Pursue creative passions</span>
                </button>
            </div>
            <div class="col-12 col-md-12 mb-4 mt-4">
                <button type="submit" name="time_saved_use" value="Deepen relationships with loved ones" class="btn btn-light btn-time-saved">
                    <span class="emoji">❤️</span>
                    <span>Deepen relationships with loved ones</span>
                </button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 mb-4 mt-4">
                <button type="submit" name="time_saved_use" value="Boost personal growth" class="btn btn-light btn-time-saved">
                    <span class="emoji">📈</span>
                    <span>Boost personal growth</span>
                </button>
            </div>
            <div class="col-12 col-md-12 mb-4 mt-4">
                <button type="submit" name="time_saved_use" value="Prioritize health and well-being" class="btn btn-light btn-time-saved">
                    <span class="emoji">💪</span>
                    <span>Prioritize health and well-being</span>
                </button>
            </div>
        </div>
    </form>
</div>

<style>
    .emoji {
        font-size: 50px; /* Size of the emojis */
        margin-right: 15px;
    }
    .btn-time-saved {
        display: flex;
        flex-direction: row; /* Aligns emoji and text horizontally */
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        text-align: left;
        padding: 15px 20px; /* Adjust padding for consistency */
        border: none;
        background-color: #f8f9fa;
        border-radius: 10px;
        font-size: 20px;
        transition: background-color 0.3s ease;
    }

    .btn-time-saved:hover {
        background-color: #e2e6ea; /* Add a hover effect */
    }

    .btn-time-saved span {
        font-weight: normal;
    }
</style>
{% endblock %}
