{% extends "myapp/quiz/quiz_base.html" %}
{% load static %}
{% block title %}Time Saved Use{% endblock %}
{% block content %}
<div class="container text-center">
    <h2>What would you do with the time saved from cutting out boring tasks?</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="time_saved_use" value="Pursue creative passions" class="btn btn-light btn-time-saved d-flex align-items-center">
                    <img src="{% static 'myapp/images/time_saved_use/creative_passions.png' %}" alt="Pursue creative passions" class="img-fluid time-saved-image me-3" />
                    <span>Pursue creative passions</span>
                </button>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="time_saved_use" value="Deepen relationships with loved ones" class="btn btn-light btn-time-saved d-flex align-items-center">
                    <img src="{% static 'myapp/images/time_saved_use/deepen_relationships.png' %}" alt="Deepen relationships with loved ones" class="img-fluid time-saved-image me-3" />
                    <span>Deepen relationships with loved ones</span>
                </button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="time_saved_use" value="Boost personal growth" class="btn btn-light btn-time-saved d-flex align-items-center">
                    <img src="{% static 'myapp/images/time_saved_use/personal_growth.png' %}" alt="Boost personal growth" class="img-fluid time-saved-image me-3" />
                    <span>Boost personal growth</span>
                </button>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <button type="submit" name="time_saved_use" value="Prioritize health and well-being" class="btn btn-light btn-time-saved d-flex align-items-center">
                    <img src="{% static 'myapp/images/time_saved_use/health_wellbeing.png' %}" alt="Prioritize health and well-being" class="img-fluid time-saved-image me-3" />
                    <span>Prioritize health and well-being</span>
                </button>
            </div>
        </div>
    </form>
</div>

<style>
    .time-saved-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .btn-time-saved {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        padding: 10px;
        border: none;
        background-color: #f8f9fa;
        border-radius: 10px;
    }
    .btn-time-saved span {
        flex-grow: 1;
        text-align: center;
    }
</style>
{% endblock %}
