
{% extends "myapp/base.html" %}

{% block title %}Faq's{% endblock %}

{% load static %}
{% block content %}

<body>

<div class="page-wrapper">
	
	<!-- Cursor -->
	<div class="cursor"></div>
	<div class="cursor-follower"></div>
	<!-- Cursor End -->
 	
	<!-- Preloader -->
	<div class="loader-wrap">
		<div class="preloader">
			<div class="preloader-close">x</div>
			<div id="handle-preloader" class="handle-preloader">
				<div class="animation-preloader">
					<div class="txt-loading">
						<span data-text-preloader="L" class="letters-loading">L</span>
						<span data-text-preloader="O" class="letters-loading">O</span>
						<span data-text-preloader="A" class="letters-loading">A</span>
						<span data-text-preloader="D" class="letters-loading">D</span>
						<span data-text-preloader="I" class="letters-loading">I</span>
						<span data-text-preloader="N" class="letters-loading">N</span>
						<span data-text-preloader="G" class="letters-loading">G</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader End -->
	
	<!-- Main Header -->
{% include 'header.html' %}
	<!-- End Main Header -->
	
	<!-- Page Title -->
    <section class="page-title">
		<div class="page-title-icon"></div>
			<div class="page-title-icon-two"></div>
			<div class="page-title-shadow"></div>
			<div class="page-title-shadow-two"></div>
        <div class="auto-container">
			<h2>Frequently asked questions</h2>
			<ul class="bread-crumb clearfix">
				<li><a href="{% url 'index' %}"">Home</a></li>
				<li>Faq's</li>
			</ul>
        </div>
    </section>
    <!-- End Page Title -->

	<!-- Faq One -->
	<section class="faq-one style-four">
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Tab Column -->
				<div class="faq-one_title-column col-lg-5 col-md-12 col-sm-12">
					<div class="faq-one_title-outer">
						<!-- Sec Title -->
						<div class="sec-title style-four">
							<div class="sec-title_title">faq</div>
							<h2 class="sec-title_heading">Frequently asked <span>questions</span></h2>
							<div class="sec-title_text">Lorem ipsum dolor sit amet consectetur adipiscing vitae mattis tellus. Nullam quis mattis ligula consectetur.</div>
						</div>
						<div class="faq-one_button">
							<a href="{% url 'contact' %}" class="template-btn btn-style-one">
								<span class="btn-wrap">
									<span class="text-one">Contact now</span>
									<span class="text-two">Contact now</span>
								</span>
							</a>
						</div>
					</div>
				</div>

				<!-- Accordian Column -->
				<div class="faq-one_accordian-column col-lg-7 col-md-12 col-sm-12">
					<div class="faq-one_accordian-outer">

						<!-- Accordion Box -->
						<ul class="accordion-box_two">
									
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa-solid fa-plus fa-fw"></span></div>How does your AI copywriting tool work?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">Our AI copywriting tool uses sophisticated algorithms to understand context, tone, and language nuances. Users input specific details or prompts, and the AI generates high-quality content based on that input, refining.</div>
									</div>
								</div>
							</li>
										
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa-solid fa-plus fa-fw"></span></div>What is AI copywriting?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">Our AI copywriting tool uses sophisticated algorithms to understand context, tone, and language nuances. Users input specific details or prompts, and the AI generates high-quality content based on that input, refining.</div>
									</div>
								</div>
							</li>

							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa-solid fa-plus fa-fw"></span></div>Can I trust the content generated by AI?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">Our AI copywriting tool uses sophisticated algorithms to understand context, tone, and language nuances. Users input specific details or prompts, and the AI generates high-quality content based on that input, refining.</div>
									</div>
								</div>
							</li>

							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa-solid fa-plus fa-fw"></span></div>What types of content can your AI generate?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">Our AI copywriting tool uses sophisticated algorithms to understand context, tone, and language nuances. Users input specific details or prompts, and the AI generates high-quality content based on that input, refining.</div>
									</div>
								</div>
							</li>

							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa-solid fa-plus fa-fw"></span></div>What languages does your AI support?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">Our AI copywriting tool uses sophisticated algorithms to understand context, tone, and language nuances. Users input specific details or prompts, and the AI generates high-quality content based on that input, refining.</div>
									</div>
								</div>
							</li>

						</ul>

					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Faq One -->

	<!-- Clients One -->
	<section class="clients-one">
		<div class="auto-container">
			<div class="inner-container">
				<!-- Sec Title -->
				<div class="sec-title style-two light centered">
					<div class="sec-title_title">Trusted organizations</div>
					<h2 class="sec-title_heading"><span>Trusted 3000+</span> businesses <br> & online stores</h2>
				</div>
				<div class="clients-box_one">
					<div class="animation_mode">

						<!-- Client Box -->
						<div class="clients-box">
							<a href="#">
								<img src="{% static 'myapp/images/clients/1.png' %}" alt="" />
							</a>
						</div>

						<!-- Client Box -->
						<div class="clients-box">
							<a href="#">
								<img src="{% static 'myapp/images/clients/2.png' %}" alt="" />
							</a>
						</div>

						<!-- Client Box -->
						<div class="clients-box">
							<a href="#">
								<img src="{% static 'myapp/images/clients/3.png' %}" alt="" />
							</a>
						</div>

						<!-- Client Box -->
						<div class="clients-box">
							<a href="#">
								<img src="{% static 'myapp/images/clients/4.png' %}" alt="" />
							</a>
						</div>

						<!-- Client Box -->
						<div class="clients-box">
							<a href="#">
								<img src="{% static 'myapp/images/clients/5.png' %}" alt="" />
							</a>
						</div>

						<!-- Client Box -->
						<div class="clients-box">
							<a href="#">
								<img src="{% static 'myapp/images/clients/6.png' %}" alt="" />
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Clients One -->

	<!-- Team Detail Form -->
	<section class="team-detail_form">
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Column -->
				<div class="column col-lg-6 col-md-12 col-sm-12">
					<!-- Sec Title -->
					<div class="sec-title style-four">
						<div class="sec-title_title">Contact me</div>
						<h2 class="sec-title_heading">Feel free to ask any <span style="color: rgb(184, 149, 95);">questions</span> here</h2>
						<div class="sec-title_text">Lorem ipsum dolor sit amet consectetur adipiscing <br> elit Ut et massa Aliquam in hendrerit urna.</div>
					</div>
					<div class="faq-phone_box">
						<span class="icon fa-solid fa-phone fa-fw"></span>
						Phone <br>
						<a href="tel:+1-678-772-6710">+1 678-772-6710</a>
					</div>
				</div>
				<!-- Column -->
				<div class="column col-lg-6 col-md-12 col-sm-12">
					<div class="default-form">
						<form method="post" action="{% url 'index' %}"">
							<div class="row clearfix">
								<!--Form Group-->
								<div class="form-group col-lg-6 col-md-6 col-sm-6">
									<input type="text" name="name" value="" placeholder="Name" required>
								</div>
								<!--Form Group-->
								<div class="form-group col-lg-6 col-md-6 col-sm-6">
									<input type="email" name="email" value="" placeholder="Email" required>
								</div>
								<div class="form-group col-lg-6 col-md-6 col-sm-6">
									<input type="text" name="phone" value="" placeholder="Phone" required>
								</div>
								<!--Form Group-->
								<div class="form-group col-lg-6 col-md-6 col-sm-6">
									<select name="country" class="custom-select-box">
										<option>Select Service</option>
										<option>Service 01</option>
										<option>Service 02</option>
										<option>Service 03</option>
									</select>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 form-group">
									<textarea class="" name="message" placeholder="Type Comment here*"></textarea>
								</div>
								<div class="form-group col-lg-12 col-md-12 col-sm-12">
									<button type="button" class="template-btn btn-style-one">
										<span class="btn-wrap">
											<span class="text-one">Send Now</span>
											<span class="text-two">Send Now</span>
										</span>
									</button>
								</div>
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Detail Form -->

	<!-- CTA One -->
	{% include 'ctaone.html' %}
	<!-- End CTA One -->

	<!-- Main Footer -->
	{% include 'footer.html' %}
<!-- End PageWrapper -->

 


{% endblock %}