{% extends "myapp/base.html" %}

{% block title %}Index{% endblock %}

{% load static %}
{% block content %}
<style>

</style>

<body>

<div class="page-wrapper">
	
	<!-- Cursor -->
	<div class="cursor"></div>
	<div class="cursor-follower"></div>
	<!-- Cursor End -->
 	
	<!-- Preloader -->
	  <!--       
	<div class="loader-wrap">
		<div class="preloader">
			<div class="preloader-close">x</div>
			<div id="handle-preloader" class="handle-preloader">
				<div class="animation-preloader">
					<div class="txt-loading">
						<span data-text-preloader="L" class="letters-loading">L</span>
						<span data-text-preloader="O" class="letters-loading">O</span>
						<span data-text-preloader="A" class="letters-loading">A</span>
						<span data-text-preloader="D" class="letters-loading">D</span>
						<span data-text-preloader="I" class="letters-loading">I</span>
						<span data-text-preloader="N" class="letters-loading">N</span>
						<span data-text-preloader="G" class="letters-loading">G</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->
	<!-- Preloader End -->
	
	{% include 'header.html' %}
	
	{% load static %}

	<!-- Slider One -->
	<section class="slider-one">
		<div class="main-slider swiper-container">
			<div class="swiper-wrapper">

					<!-- Slide -->
					<div class="swiper-slide">
						<div class="slider-one_icon"></div>
						<div class="slider-one_icon-two"></div>
						<div class="slider-one_pattern"></div>
						<div class="slider-one_pattern-two"></div>
						<div class="slider-one_pattern-four"></div>
						<div class="auto-container">
							<div class="row clearfix">
								<!-- Content Column -->
								<div class="slider-one_content col-lg-7 col-md-12 col-sm-12">
									<div class="slider-one_content-inner">
										<div class="slider-one_title">
											<i><img src="{% static 'myapp/images/main-slider/hand.png' %}" alt="" /></i> 
											AI makes business growth fast & easy
										</div>
										<h1 class="slider-one_heading">
											Elevate Your Business with <span>AI-Driven</span> Solutions
										</h1>
										<div class="slider-one_text">
											At iRiseUp, we empower busy entrepreneurs to harness the power of AI, simplifying complex tasks and unlocking new revenue streams. Let us help you focus on what you do best while we take care of the rest.
										</div>
										<div class="slider-one_button d-flex align-items-center flex-wrap">
											<a href="{% url 'about' %}" class="template-btn btn-style-one">
												<span class="btn-wrap">
													<span class="text-one">Get started free</span>
													<span class="text-two">Get started free</span>
												</span>
											</a>
											<div class="slider-one_video">
												<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-video play-box">
													<span class="fa fa-play"></span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- Image Column -->
								<div class="slider-one_image-column col-lg-5 col-md-12 col-sm-12">
									<div class="slider-one_pattern-three"></div>
									<div class="slider-one_image-outer">
										<!-- Slider One Author -->
										<div class="slider-one_author">
											<i><img src="{% static 'myapp/images/main-slider/icon-2.png' %}" alt="" /></i>
											<h5 class="slider-one_author-name"></h5>
											<div class="slider-one_author-text"></div>
										</div>
										<!-- Slider One Percent -->
										<div class="slider-one_percentage">
											<i class="fa-solid fa-arrow-up fa-fw"></i>
											<div class="slider-one_percent">90<sub>%</sub></div>
											<div class="slider-one_percentage-text">Efficiency</div>
										</div>
										<div class="slider-one_graph">
											<div class="slider-one_graph-title">
												Annual Goal <span>$98,541 <sup><i class="fa-solid fa-caret-up fa-fw"></i>110%</sup></span>
											</div>
											<img src="{% static 'myapp/images/main-slider/graph.png' %}" alt="" />
										</div>
										<div class="slider-one_image">
											<img src="{% static 'myapp/images/main-slider/image-1.png' %}" alt="" />
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
			
	
				<!-- Additional slides here -->
	
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
			<!-- Add Navigation -->
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</section>
	<!-- End Main Slider Section -->
	

	<!-- Services One -->
	<section class="services-one">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="sec-title_title">Our Services</div>
				<h2 class="sec-title_heading">Experience Our Latest <br> <span>AI-Driven Solutions</span></h2>
			</div>
			<div class="row clearfix">
	
				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-speaker1"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="{% url 'servicedetail2' %}">Digital Marketers</a></h5>
						<div class="service-block_one-text">Enhance your marketing campaigns with AI-powered insights and automation, saving you time and increasing your reach.</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">01</div>
							<a class="service-block_one-join" href="{% url 'servicedetail2' %}">Join now <i class="fa-solid fa-plus fa-fw"></i></a>
						</div>
					</div>
				</div>
	
				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-marketing"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="{% url 'servicedetail1' %}">Content Marketers</a></h5>
						<div class="service-block_one-text">Create compelling content effortlessly with AI-driven tools that generate, optimize, and analyze your marketing materials.</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">02</div>
							<a class="service-block_one-join" href="{% url 'servicedetail1' %}">Join now <i class="fa-solid fa-plus fa-fw"></i></a>
						</div>
					</div>
				</div>
	
				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-users"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="{% url 'servicedetail3' %}">Founders</a></h5>
						<div class="service-block_one-text">Empower your leadership with AI tools that streamline operations, enhance decision-making, and drive business growth.</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">03</div>
							<a class="service-block_one-join" href="{% url 'servicedetail3' %}">Join now <i class="fa-solid fa-plus fa-fw"></i></a>
						</div>
					</div>
				</div>
	
				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-copyright"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="{% url 'servicedetail4' %}">Copywriters</a></h5>
						<div class="service-block_one-text">Leverage AI to craft high-quality, engaging content that resonates with your audience and drives conversions.</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">04</div>
							<a class="service-block_one-join" href="{% url 'servicedetail4' %}">Join now <i class="fa-solid fa-plus fa-fw"></i></a>
						</div>
					</div>
				</div>
	
				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-tag"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="{% url 'servicedetail5' %}">SEO Specialists</a></h5>
						<div class="service-block_one-text">Optimize your search rankings with AI tools that analyze trends, track performance, and suggest improvements.</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">05</div>
							<a class="service-block_one-join" href="{% url 'servicedetail5' %}">Join now <i class="fa-solid fa-plus fa-fw"></i></a>
						</div>
					</div>
				</div>
	
				<!-- Service Block Two -->
				<div class="service-block_two col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_two-inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_two-sideicon"></div>
	
						<div class="service-block_two-icon">
							<img src="{% static 'myapp/images/icons/service.png' %}" alt="" />
						</div>
						<h5 class="service-block_two-heading"><a href="{% url 'servicedetail' %}">More Services</a></h5>
						<div class="service-block_two-text">Explore additional AI-driven solutions tailored to your unique business needs.</div>
						<div class="service-block_two-button">
							<a href="{% url 'services' %}" class="template-btn btn-style-one">
								<span class="btn-wrap">
									<span class="text-one">Learn more</span>
									<span class="text-two">Learn more</span>
								</span>
							</a>
						</div>
					</div>
				</div>
	
			</div>
		</div>
	</section>
	
	<!-- End Services One -->
	
<!-- About One -->
<section class="about-one">
	<div class="about-one_pattern"></div>
	<div class="about-one_icon"></div>
	<div class="about-one_icon-two"></div>

	<div class="auto-container">
		<div class="row clearfix">

			<!-- Tab Column -->
			<div class="about-one_tab-column col-xl-6 col-lg-6 col-md-12 col-sm-12">
				<div class="about-one_tab-outer">
					<div class="about-one_tab-shadow"></div>

					<div class="about-one_tab-image">
						<img src="{% static 'myapp/images/resource/tabs.png' %}" alt="" />
					</div>
				</div>
			</div>

			<!-- Content Column -->
			<div class="about-one_content-column col-xl-6 col-lg-6 col-md-12 col-sm-12">
				<div class="about-one_content-outer">
					<!-- Sec Title -->
					<div class="sec-title">
						<div class="sec-title_title">About Us</div>
						<h2 class="sec-title_heading">Crafting Your Digital <span>Narrative</span><br> Discover Our Journey</h2>
					</div>
					<p>At iRiseUp, we believe in the transformative power of AI. Our mission is to empower busy entrepreneurs to leverage AI technology, making business growth fast, efficient, and effective. We understand the challenges of managing a business and are here to simplify your journey with intelligent solutions.</p>
					<p>Founded by industry experts, iRiseUp has been at the forefront of AI innovation, delivering tailored solutions that drive real results. Our passion for technology and dedication to our clients set us apart in the digital landscape.</p>
					<div class="about-one_options d-flex align-items-center flex-wrap">
						<a href="{% url 'about' %}" class="template-btn btn-style-one">
							<span class="btn-wrap">
								<span class="text-one">Know more</span>
								<span class="text-two">Know more</span>
							</span>
						</a>
						<div class="about-one_rating-box d-flex align-items-center flex-wrap">
							4.7
							<div class="about-one_rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<i>Customer rating</i>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

	<!-- End About One -->
	
	<!-- Choose One -->
	<section class="choose-one">
		<div class="auto-container">
			<div class="inner-container">
				<!-- Sec Title -->
				<div class="sec-title light centered">
					<div class="sec-title_title">Why Choose Us</div>
					<h2 class="sec-title_heading">Reasons to Choose Our <br> <span>AI Platform</span></h2>
				</div>
				<div class="row clearfix">
	
					<!-- Counter Block One -->
					<div class="counter-block_one col-lg-4 col-md-6 col-sm-12">
						<div class="counter-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="counter-block_one-icon fa-solid fa-users fa-fw"></div>
							<div class="counter-block_one-count"><span class="odometer" data-count="8000"></span><i>+</i></div>
							<div class="counter-block_one-text">More than 8,000 businesses have leveraged our AI solutions</div>
						</div>
					</div>
	
					<!-- Counter Block Two -->
					<div class="counter-block_one col-lg-4 col-md-6 col-sm-12">
						<div class="counter-block_one-inner wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
							<div class="counter-block_one-icon fa-solid fa-chart-line fa-fw"></div>
							<div class="counter-block_one-count"><span class="odometer" data-count="500000"></span><i>+</i></div>
							<div class="counter-block_one-text">Over 500,000 hours saved with our AI-driven automation</div>
						</div>
					</div>
	
					<!-- Counter Block Three -->
					<div class="counter-block_one col-lg-4 col-md-6 col-sm-12">
						<div class="counter-block_one-inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="counter-block_one-icon fa-solid fa-dollar-sign fa-fw"></div>
							<div class="counter-block_one-count"><span class="odometer" data-count="200000"></span><i>+</i></div>
							<div class="counter-block_one-text">Over $200,000 in increased revenue for our clients</div>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</section>
	
	<!-- End Choose One -->

	<!-- Answer One -->
	<section class="answer-one">
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Tab Column -->
				<div class="answer-one_title-column col-lg-5 col-md-12 col-sm-12">
					<div class="answer-one_title-outer">
						<!-- Sec Title -->
						<div class="sec-title title-anim">
							<div class="sec-title_title">AI ANSWERS</div>
							<h2 class="sec-title_heading">Gain <span>full control</span> of your information docs and many more</h2>
						</div>
						<ul class="answer-one_list">
							<li><i class="fa-solid fa-check fa-fw"></i>Create a personalized knowledge base on your own iRiseUp Academy library</li>
							<li><i class="fa-solid fa-check fa-fw"></i>Use your trusted sources to find the answers you need</li>
							<li><i class="fa-solid fa-check fa-fw"></i>Stay in the know with AI Q&A and semantic search</li>
						</ul>
						<div class="answer-one_button">
							<a href="{% url 'about' %}" class="template-btn btn-style-one">
								<span class="btn-wrap">
									<span class="text-one">Know more</span>
									<span class="text-two">Know more</span>
								</span>
							</a>
						</div>
					</div>
				</div>

				<!-- Tab Column -->
				<div class="answer-one_content-column col-lg-7 col-md-12 col-sm-12">
					<div class="answer-one_content-outer">
						<div class="answer-one_pattern"></div>

						<div class="answer-one_image">
							<img src="{% static 'myapp/images/resource/faq.png' %}" alt="" />
						</div>		
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Answer One -->

	<!-- Testimonial One -->
<section class="testimonial-one">
	<div class="auto-container">
		<div class="inner-container"></div>

			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="sec-title_title">Testimonials</div>
				<h2 class="sec-title_heading">What Our Valued <br> <span>Clients Say</span></h2>
			</div>
			<div class="three-item_carousel swiper-container">
				<div class="swiper-wrapper">
	
					<!-- Slide -->
					<div class="swiper-slide">
						<!-- Testimonial Block One -->
						<div class="testimonial-block_one">
							<div class="testimonial-block_one-inner">
								<div class="testimonial-block_one-rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<div class="testimonial-block_one-text">"Using iRiseUp's AI solutions has transformed our business. We save so much time on repetitive tasks and can focus on strategic growth. It's like having an extra team member!"</div>
								<div class="testimonial-block_one-author_box">
									<div class="testimonial-block_one-author-image">
										<img src="{% static 'myapp/images/resource/author-2.png' %}" alt="" />
									</div>
									Larry K. Lund <span>Social Media Manager</span>
								</div>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide">
						<!-- Testimonial Block One -->
						<div class="testimonial-block_one">
							<div class="testimonial-block_one-inner">
								<div class="testimonial-block_one-rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<div class="testimonial-block_one-text">"iRiseUp has been a game-changer for our content marketing. The AI-driven tools provide incredible insights and efficiencies, boosting our engagement rates significantly."</div>
								<div class="testimonial-block_one-author_box">
									<div class="testimonial-block_one-author-image">
										<img src="{% static 'myapp/images/resource/author-3.png' %}" alt="" />
									</div>
									Marian R. Vieira <span>Content Marketer</span>
								</div>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide">
						<!-- Testimonial Block One -->
						<div class="testimonial-block_one">
							<div class="testimonial-block_one-inner">
								<div class="testimonial-block_one-rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<div class="testimonial-block_one-text">"As a founder, time is my most precious resource. iRiseUp's AI solutions have streamlined our operations and given us back valuable hours each week. I can't recommend them enough."</div>
								<div class="testimonial-block_one-author_box">
									<div class="testimonial-block_one-author-image">
										<img src="{% static 'myapp/images/resource/author-4.png' %}" alt="" />
									</div>
									Bob E. Wiggins <span>Founder</span>
								</div>
							</div>
						</div>
					</div>

				</div>

				<!-- If we need pagination -->
				<div class="three-item_carousel-pagination"></div>

			</div>

		</div>
	</div>
</section>

	<!-- End Testimonial One -->

	<!-- Steps One -->
	<!-- Steps One -->
<!-- Steps One -->
<section class="steps-one">
    <div class="steps-one_bg"></div>
    <div class="steps-one_icon"></div>

    <div class="auto-container">
        <div class="inner-container">
            <div class="circle-layer"></div>
            <div class="dots-layer">
                <span class="dot-one"></span>
                <span class="dot-two"></span>
            </div>

            <!-- Sec Title -->
            <div class="sec-title">
                <div class="sec-title_title">How It Works</div>
                <h2 class="sec-title_heading">How <span>iRiseUp.AI</span> Operates in <br> Three Simple Steps</h2>
            </div>
            <div class="steps-one_button">
                <a href="{% url 'about' %}" class="template-btn btn-style-two">
                    <span class="btn-wrap">
                        <span class="text-one">Know more</span>
                        <span class="text-two">Know more</span>
                    </span>
                </a>
            </div>
            <div class="row clearfix">
                <!-- Column -->
                <div class="column col-lg-6 col-md-12 col-sm-12">
                    <!-- Step Block One -->
                    <div class="step-block_one">
                        <div class="step-block_one-inner">
                            <div class="step-block_one-steps">Step 01</div>
                            <h5 class="step-block_one-title">Data Collection & Input</h5>
                            <div class="step-block_one-text">We start by gathering relevant data and inputs from your business, ensuring we have all the necessary information to tailor our AI solutions to your specific needs.</div>
                            <div class="step-block_one-content">
                                <div class="image">
                                    <img src="{% static 'myapp/images/resource/step-1.png' %}" alt="Data Collection" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="column col-lg-6 col-md-12 col-sm-12">
                    <!-- Step Block One -->
                    <div class="step-block_one">
                        <div class="step-block_one-inner">
                            <div class="step-block_one-steps">Step 02</div>
                            <h5 class="step-block_one-title">AI Algorithm Processing</h5>
                            <div class="step-block_one-text">Our advanced AI algorithms process the collected data, identifying patterns and insights that will drive the creation of intelligent solutions for your business.</div>
                            <div class="step-block_one-content">
                                <div class="image">
                                    <img src="{% static 'myapp/images/resource/step-2.png' %}" alt="AI Processing" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Step Block One -->
                    <div class="step-block_one">
                        <div class="step-block_one-inner">
                            <div class="step-block_one-steps">Step 03</div>
                            <h5 class="step-block_one-title">Content Generation & Optimization</h5>
                            <div class="step-block_one-text">Based on the processed data, we generate high-quality content and refine it to ensure it aligns perfectly with your business goals and audience preferences.</div>
                            <div class="step-block_one-content">
                                <div class="image">
                                    <img src="{% static 'myapp/images/resource/step-3.png' %}" alt="Content Generation" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


	
	<!-- End Steps One -->

	<!-- Price One -->
	<section class="price-one">
		<div class="price-one_bg"></div>
		<div class="auto-container" style="color: white;">
			<div class="inner-container">
				<!-- Sec Title -->
				<div class="sec-title title-anim centered">
					<div class="sec-title_title">Our Pricing</div>
					<h2 class="sec-title_heading" style="color: rgb(28, 94, 82);">Join for <span>free</span> Today</h2>
				</div>
				<div class="pricing-tabs tabs-box">
					<!-- Tab Btns -->
					<div class="buttons-outer">
						<ul class="tab-buttons clearfix">
							<li data-tab="#prod-monthly" class="tab-btn active-btn">Monthly</li>
							<li data-tab="#prod-yearly" class="tab-btn">Yearly</li>
						</ul>
					</div>
					<!-- Tabs Container -->
					<div class="tabs-content">
						<!-- Tab -->
						<div class="tab active-tab" id="prod-monthly">
							<div class="content">
								<div class="row clearfix">
									<!-- Price Block One -->
									<div class="price-block_one col-lg-4 col-md-6 col-sm-12">
										<div class="price-block_one-inner">
											<div class="price-block_one-title">Starter</div>
											<div class="price-block_one-subtitle">Up to 2,000 words / mo</div>
											<div class="price-block_one-content">
												<div class="d-flex justify-content-between align-items-end flex-wrap">
													<div class="price-block_one-price"><sup>$</sup>3<sub>/mo</sub></div>
													<div class="price-block_one-text">*Get iRiseUp Academy tailored</div>
												</div>
												<div class="price-block_one-button">
													<a class="template-btn price-one_button" href="#">Start 1 month free trial</a>
												</div>
												<ul class="price-block_one-list">
													<li><i class="fa-solid fa-check fa-fw"></i>Up to 10,000 words</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Access to basic tools</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Access to AI copywriting tools</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Email support only</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Advance 700+ tools</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Price Block One -->
									<div class="price-block_one active col-lg-4 col-md-6 col-sm-12">
										<div class="price-block_one-inner">
											<div class="price-one_stars"></div>
											<div class="price-block_one-title">Professional</div>
											<div class="price-block_one-subtitle">Up to 10,000 words / mo</div>
											<div class="price-block_one-content">
												<div class="d-flex justify-content-between align-items-end flex-wrap">
													<div class="price-block_one-price"><sup>$</sup>9<sub>/mo</sub></div>
													<div class="price-block_one-text">*Get iRiseUp Academy tailored</div>
												</div>
												<div class="price-block_one-button">
													<a class="template-btn price-one_button" href="#">Start 1 month free trial</a>
												</div>
												<ul class="price-block_one-list">
													<li><i class="fa-solid fa-check fa-fw"></i>Up to 10,000 words</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Access to basic tools</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Access to AI copywriting tools</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Email support only</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Advance 700+ tools</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Price Block One -->
									<div class="price-block_one col-lg-4 col-md-6 col-sm-12">
										<div class="price-block_one-inner">
											<div class="price-block_one-title">Enterprise</div>
											<div class="price-block_one-subtitle">Up to 10,000 words / mo</div>
											<div class="price-block_one-content">
												<div class="d-flex justify-content-between align-items-end flex-wrap">
													<div class="price-block_one-price"><sup>$</sup>18<sub>/mo</sub></div>
													<div class="price-block_one-text">*Get iRiseUp Academy tailored</div>
												</div>
												<div class="price-block_one-button">
													<a class="template-btn price-one_button" href="#">Start 1 month free trial</a>
												</div>
												<ul class="price-block_one-list">
													<li><i class="fa-solid fa-check fa-fw"></i>Up to 10,000 words</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Access to basic tools</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Access to AI copywriting tools</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Email support only</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Advance 700+ tools</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Tab -->
						<div class="tab" id="prod-yearly">
							<div class="content">
								<div class="row clearfix">
									<!-- Price Block One -->
									<div class="price-block_one col-lg-4 col-md-6 col-sm-12">
										<div class="price-block_one-inner">
											<div class="price-block_one-title">Starter</div>
											<div class="price-block_one-subtitle">Up to 2,000 words / mo</div>
											<div class="price-block_one-content">
												<div class="d-flex justify-content-between align-items-end flex-wrap">
													<div class="price-block_one-price"><sup>$</sup>3<sub>/mo</sub></div>
													<div class="price-block_one-text">*Get iRiseUp Academy tailored</div>
												</div>
												<div class="price-block_one-button">
													<a class="template-btn price-one_button" href="#">Start 1 month free trial</a>
												</div>
												<ul class="price-block_one-list">
													<li><i class="fa-solid fa-check fa-fw"></i>Up to 10,000 words</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Access to basic tools</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Access to AI copywriting tools</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Email support only</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Advance 700+ tools</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Price Block One -->
									<div class="price-block_one active col-lg-4 col-md-6 col-sm-12">
										<div class="price-block_one-inner">
											<div class="price-one_stars"></div>
											<div class="price-block_one-title">Professional</div>
											<div class="price-block_one-subtitle">Up to 10,000 words / mo</div>
											<div class="price-block_one-content">
												<div class="d-flex justify-content-between align-items-end flex-wrap">
													<div class="price-block_one-price"><sup>$</sup>9<sub>/mo</sub></div>
													<div class="price-block_one-text">*Get iRiseUp Academy tailored</div>
												</div>
												<div class="price-block_one-button">
													<a class="template-btn price-one_button" href="#">Start 1 month free trial</a>
												</div>
												<ul class="price-block_one-list">
													<li><i class="fa-solid fa-check fa-fw"></i>Up to 10,000 words</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Access to basic tools</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Access to AI copywriting tools</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Email support only</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Advance 700+ tools</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Price Block One -->
									<div class="price-block_one col-lg-4 col-md-6 col-sm-12">
										<div class="price-block_one-inner">
											<div class="price-block_one-title">Enterprise</div>
											<div class="price-block_one-subtitle">Up to 10,000 words / mo</div>
											<div class="price-block_one-content">
												<div class="d-flex justify-content-between align-items-end flex-wrap">
													<div class="price-block_one-price"><sup>$</sup>18<sub>/mo</sub></div>
													<div class="price-block_one-text">*Get iRiseUp Academy tailored</div>
												</div>
												<div class="price-block_one-button">
													<a class="template-btn price-one_button" href="#">Start 1 month free trial</a>
												</div>
												<ul class="price-block_one-list">
													<li><i class="fa-solid fa-check fa-fw"></i>Up to 10,000 words</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Access to basic tools</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Access to AI copywriting tools</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Email support only</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Advance 700+ tools</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Price One -->

	<!-- Faq One -->
	<section class="faq-one style-two">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Tab Column -->
            <div class="faq-one_title-column col-lg-5 col-md-12 col-sm-12">
                <div class="faq-one_title-outer">
                    <!-- Sec Title -->
                    <div class="sec-title style-three title-anim light">
                        
                        <h2 class="sec-title_heading">Frequently Asked <span>Questions</span></h2>
                        <div class="sec-title_text">Got questions? We've got answers. Learn more about how our AI solutions can benefit your SEO strategies and enhance your online presence.</div>
                    </div>
                    <div class="faq-one_button">
                        <a href="{% url 'contact' %}" class="template-btn btn-style-one">
                            <span class="btn-wrap">
                                <span class="text-one">Contact now</span>
                                <span class="text-two">Contact now</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Accordian Column -->
            <div class="faq-one_accordian-column col-lg-7 col-md-12 col-sm-12">
                <div class="faq-one_accordian-outer">
                    <!-- Accordion Box -->
                    <ul class="accordion-box_two">
                        <!-- Block -->
                        <li class="accordion block active-block">
                            <div class="acc-btn active">
                                <div class="icon-outer">
                                    <span class="icon icon-plus fa-solid fa-plus fa-fw"></span>
                                </div>
                                How does your AI copywriting tool work?
                            </div>
                            <div class="acc-content current">
                                <div class="content">
                                    <div class="text">Our AI copywriting tool uses sophisticated algorithms to understand context, tone, and language nuances. Users input specific details or prompts, and the AI generates high-quality content based on that input, refining.</div>
                                </div>
                            </div>
                        </li>
                        <!-- Block -->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer">
                                    <span class="icon icon-plus fa-solid fa-plus fa-fw"></span>
                                </div>
                                What is AI copywriting?
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Our AI copywriting tool uses sophisticated algorithms to understand context, tone, and language nuances. Users input specific details or prompts, and the AI generates high-quality content based on that input, refining.</div>
                                </div>
                            </div>
                        </li>
                        <!-- Block -->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer">
                                    <span class="icon icon-plus fa-solid fa-plus fa-fw"></span>
                                </div>
                                Can I trust the content generated by AI?
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Our AI copywriting tool uses sophisticated algorithms to understand context, tone, and language nuances. Users input specific details or prompts, and the AI generates high-quality content based on that input, refining.</div>
                                </div>
                            </div>
                        </li>
                        <!-- Block -->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer">
                                    <span class="icon icon-plus fa-solid fa-plus fa-fw"></span>
                                </div>
                                What types of content can your AI generate?
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Our AI copywriting tool uses sophisticated algorithms to understand context, tone, and language nuances. Users input specific details or prompts, and the AI generates high-quality content based on that input, refining.</div>
                                </div>
                            </div>
                        </li>
                        <!-- Block -->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer">
                                    <span class="icon icon-plus fa-solid fa-plus fa-fw"></span>
                                </div>
                                What languages does your AI support?
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Our AI copywriting tool uses sophisticated algorithms to understand context, tone, and language nuances. Users input specific details or prompts, and the AI generates high-quality content based on that input, refining.</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

	
	<!-- End Faq One -->

	<!-- Social One -->
	<section class="social-one">
		<div class="social-one_bg-shadow"></div>

		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="sec-title_title">Integrations</div>
				<h2 class="sec-title_heading">Incorporate our tool into <br> <span>your everyday tasks</span></h2>
			</div>
			<div class="social-one_logo">
				<span><img src="{% static 'myapp/images/icons/social-logo.png' %}" alt="" /></span>
			</div>
			<div class="inner-container">
				<<div class="social-one_bg"></div>
				<div class="social-one_bg-two"></div>	
				
				<div class="social-box_one">
					<div class="animation_mode">
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="{% static 'myapp/images/icons/social-1.png' %}" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="{% static 'myapp/images/icons/social-2.png' %}" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="{% static 'myapp/images/icons/social-3.png' %}" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="{% static 'myapp/images/icons/social-4.png' %}" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="{% static 'myapp/images/icons/social-5.png' %}" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="{% static 'myapp/images/icons/social-6.png' %}" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="{% static 'myapp/images/icons/social-7.png' %}" alt="" />
							</a>
						</div>
					</div>
				</div>

				<div class="social-box">
					<div class="animation_mode_two">
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="{% static 'myapp/images/icons/social-8.png' %}" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="{% static 'myapp/images/icons/social-9.png' %}" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="{% static 'myapp/images/icons/social-10.png' %}" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="{% static 'myapp/images/icons/social-11.png' %}" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="{% static 'myapp/images/icons/social-12.png' %}" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="{% static 'myapp/images/icons/social-13.png' %}" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="{% static 'myapp/images/icons/social-14.png' %}" alt="" />
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Social One -->

	<!-- News One -->
	<section class="news-one">
		<div class="news-one_shadow"></div>
		<div class="news-one_shadow-two"></div>
	
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title title-anim centered">
				<div class="sec-title_title">our blog</div>
				<h2 class="sec-title_heading">Read our latest <span>blogs</span></h2>
			</div>
			<div class="three-item_carousel swiper-container">
				<div class="swiper-wrapper">
	
					<!-- Slide 1 -->
					<div class="swiper-slide">
						<!-- News Block One -->
						<div class="news-block_one">
							<div class="news-block_one-inner">
								<div class="news-block_one-image">
									<a href="{% url 'newsdetail' %}"><img src="{% static 'myapp/images/resource/news-1.jpg' %}" alt="" /></a>
								</div>
								<div class="news-block_one-content">
									<h5 class="news-block_one-title"><a href="{% url 'newsdetail' %}">Bye-Bye Busy Work: How AI Can Take Over Tedious Tasks So You Don’t Have To</a></h5>
									<div class="news-block_one-text">Discover how AI can handle the boring stuff, leaving you free to focus on what you love about your business.</div>
									<div class="news-block_one-button">
										<a href="{% url 'blog' %}" class="template-btn btn-style-two">
											<span class="btn-wrap">
												<span class="text-one">Read more</span>
												<span class="text-two">Read more</span>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
	
					<!-- Slide 2 -->
					<div class="swiper-slide">
						<!-- News Block One -->
						<div class="news-block_one">
							<div class="news-block_one-inner">
								<div class="news-block_one-image">
									<a href="{% url 'newsdetail' %}"><img src="{% static 'myapp/images/resource/news-2.jpg' %}" alt="" /></a>
								</div>
								<div class="news-block_one-content">
									<h5 class="news-block_one-title"><a href="{% url 'newsdetail' %}">Less Grind, More Growth: Using AI to Free Up Your Time</a></h5>
									<div class="news-block_one-text">Learn how AI tools can save you hours every week, giving you more time to grow your startup and enjoy life.</div>
									<div class="news-block_one-button">
										<a href="{% url 'blog' %}" class="template-btn btn-style-two">
											<span class="btn-wrap">
												<span class="text-one">Read more</span>
												<span class="text-two">Read more</span>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
	
					<!-- Slide 3 -->
					<div class="swiper-slide">
						<!-- News Block One -->
						<div class="news-block_one">
							<div class="news-block_one-inner">
								<div class="news-block_one-image">
									<a href="{% url 'newsdetail' %}"><img src="{% static 'myapp/images/resource/news-3.jpg' %}" alt="" /></a>
								</div>
								<div class="news-block_one-content">
									<h5 class="news-block_one-title"><a href="{% url 'newsdetail' %}">Start Smart: Integrate AI into Your New Business from Day One</a></h5>
									<div class="news-block_one-text">Tips on setting up your startup with AI right from the beginning to stay ahead of the game.</div>
									<div class="news-block_one-button">
										<a href="{% url 'blog' %}" class="template-btn btn-style-two">
											<span class="btn-wrap">
												<span class="text-one">Read more</span>
												<span class="text-two">Read more</span>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
	
				</div>
				<!-- If we need pagination -->
				<div class="three-item_carousel-pagination"></div>
			</div>
		</div>
	</section>
	
	<!-- End News One -->

	{% include 'ctaone.html' %}

	<!-- Main Footer -->
	{% include 'footer.html' %}
<!-- End PageWrapper -->

 


{% endblock %}