{% extends "myapp/base.html" %}

{% block title %}iRiseUp Academy | Best Courses for Retirees to Build Wealth{% endblock %}

{% load static %}

<!-- Meta Description for SEO -->
{% block meta_description %}
    <meta name="description" content="Discover the best courses at iRiseUp Academy designed specifically for retirees looking to learn new skills and generate extra income. Join our top-rated programs to empower your financial future.">
{% endblock %}

{% block styles %}
<head>

    <link rel="stylesheet" href="{% static 'myapp/css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
{% endblock %}

{% block content %}
<style>


</style>

<body>

<div class="page-wrapper">
	
	<!-- Cursor -->
	<div class="cursor"></div>
	<div class="cursor-follower"></div>
	<!-- Cursor End -->
 	
	<!-- Preloader -->
	<div class="loader-wrap">
		<div class="preloader">
			<div class="preloader-close">x</div>
			<div id="handle-preloader" class="handle-preloader">
				<div class="animation-preloader">
					<div class="txt-loading">
						<span data-text-preloader="L" class="letters-loading">L</span>
						<span data-text-preloader="O" class="letters-loading">O</span>
						<span data-text-preloader="A" class="letters-loading">A</span>
						<span data-text-preloader="D" class="letters-loading">D</span>
						<span data-text-preloader="I" class="letters-loading">I</span>
						<span data-text-preloader="N" class="letters-loading">N</span>
						<span data-text-preloader="G" class="letters-loading">G</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader End -->
	
{% include 'header.html' %}
	
	<!-- START HOME -->
	<section id="home" class="home_bg">
        <div class="container">
            <div class="row align-items-center">
                <!-- Left Column: Text and Button -->
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="home_content">
                        <h1>It’s Never Too Late to Learn<span> Empower Your Future</span> with Easy-to-Follow Courses</h1>
                        <p>Discover personalized courses designed to help you stay relevant, build new skills, and take charge of your future. Whether you're over 40 or looking to pivot, it's never too late to learn and grow with iRiseUp Academy.</p>
                    </div>
                    <div class="home_btn">
                        <a href="{% url 'start_quiz' %}" class="cta_button" aria-label="Explore Our Courses">
                            <span>Explore Our Courses</span>
                            <svg width="13px" height="10px" viewBox="0 0 13 10" role="img" aria-hidden="true">
                                <path d="M1,5 L11,5"></path>
                                <polyline points="8 1 12 5 8 9"></polyline>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- END COL -->
                <!-- Right Column: YouTube Video -->
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="home_me_img">
                        <!-- YouTube Embed Code -->
                        <iframe 
                            src="https://www.youtube.com/embed/igozhJ_Tk20?autoplay=1&mute=1" 
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                        <!-- End YouTube Embed Code -->
                        <p>🔊 Click the video to unmute</p>
                    </div>
                </div><!-- END COL -->
            </div><!-- END ROW -->
        </div><!-- END CONTAINER -->
    </section>
    
    
	<!-- END  HOME -->

	<!-- START ABOUT US HOME ONE -->
	<section class="tp_feature">
        <div class="container-fluid">            
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                    <div class="single_tp">
                        <h3>Podcasting</h3>
                        <p>Learn how to start, produce, and grow your own podcast, sharing your voice with the world.</p>
                        <a href="{% url 'start_quiz' %}" class="cta" aria-label="Explore Podcasting">
                            <span>Explore</span>
                            <svg width="13px" height="10px" viewBox="0 0 13 10" role="img" aria-hidden="true">
                                <path d="M1,5 L11,5"></path>
                                <polyline points="8 1 12 5 8 9"></polyline>
                            </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                    <div class="single_tp">
                        <h3>Life Coaching</h3>
                        <p>Develop your skills to inspire and guide others through their personal and professional journeys.</p>
                        <a href="{% url 'start_quiz' %}" class="cta" aria-label="Explore Life Coaching">
                            <span>Explore</span>
                            <svg width="13px" height="10px" viewBox="0 0 13 10" role="img" aria-hidden="true">
                                <path d="M1,5 L11,5"></path>
                                <polyline points="8 1 12 5 8 9"></polyline>
                            </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
                    <div class="single_tp">
                        <h3>Permaculture</h3>
                        <p>Discover sustainable gardening and farming practices to design resilient ecosystems.</p>
                        <a href="{% url 'start_quiz' %}" class="cta" aria-label="Explore Permaculture">
                            <span>Explore</span>
                            <svg width="13px" height="10px" viewBox="0 0 13 10" role="img" aria-hidden="true">
                                <path d="M1,5 L11,5"></path>
                                <polyline points="8 1 12 5 8 9"></polyline>
                            </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                    <div class="single_tp">
                        <h3>Advanced Permaculture</h3>
                        <p>Take your permaculture skills to the next level with advanced techniques for sustainable living.</p>
                        <a href="{% url 'start_quiz' %}" class="cta" aria-label="Explore Advanced Permaculture">
                            <span>Explore</span>
                            <svg width="13px" height="10px" viewBox="0 0 13 10" role="img" aria-hidden="true">
                                <path d="M1,5 L11,5"></path>
                                <polyline points="8 1 12 5 8 9"></polyline>
                            </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                    <div class="single_tp">
                        <h3>Content Writing & Blogging</h3>
                        <p>Learn how to create stories and content that grab attention, build your brand, and connect with your audience.</p>
                        <a href="{% url 'start_quiz' %}" class="cta" aria-label="Explore Content Writing & Blogging">
                            <span>Explore</span>
                            <svg width="13px" height="10px" viewBox="0 0 13 10" role="img" aria-hidden="true">
                                <path d="M1,5 L11,5"></path>
                                <polyline points="8 1 12 5 8 9"></polyline>
                            </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                    <div class="single_tp">
                        <h3>Photography</h3>
                        <p>Learn photography from the basics to expert editing to capture and create stunning images.</p>
                        <a href="{% url 'start_quiz' %}" class="cta" aria-label="Explore Photography">
                            <span>Explore</span>
                            <svg width="13px" height="10px" viewBox="0 0 13 10" role="img" aria-hidden="true">
                                <path d="M1,5 L11,5"></path>
                                <polyline points="8 1 12 5 8 9"></polyline>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
	<!-- END ABOUT US HOME ONE -->	

	<!-- START COUNTER -->
    {% load static %}

    <section class="ab_one section-padding">
        <div class="container">                                    
            <div class="row">                                
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                    <div class="ab_img">
                        <img src="{% static 'myapp/images/iriseup/Happy_friends.jpg' %}" class="img-fluid" alt="Learn New Skills at iRiseUp Academy">
                    </div>
                </div><!--- END COL -->                    
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="ab_content">
                        <h2>Learn new skills to get <u><span>ahead in your career</span></u>.</h2>
                        <p>At iRiseUp Academy, we offer a range of courses designed to help you stay competitive in today's fast-evolving job market. From digital marketing to virtual assistance, we have the perfect course to help you achieve your goals and build a better future.</p>
                    </div>
                    <div class="abmv">
                        <span class="fas fa-medal" style="font-size: 24px; color: #00796b;"></span> <!-- Medal icon -->
                        <h4>Our Mission</h4>
                        <p>Empowering individuals, especially those over 40, to take charge of their future through accessible, practical learning that works for everyone.</p>
                    </div>
                    <div class="abmv">
                        <span class="fas fa-lightbulb" style="font-size: 24px; color: #00796b;"></span> <!-- Light bulb icon -->
                        <h4>Our Vision</h4>
                        <p>To lead globally in offering innovative, tech-forward learning solutions that help people build rewarding careers and foster personal growth.</p>
                    </div>
                    <a class="btn_one" href="{% url 'start_quiz' %}">Discover More</a>
                
                </div><!--- END COL -->                                  
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </section>
    
<!-- END ABOUT US HOME ONE -->	

    <section class="marketing_content_area section-padding">
        <div class="container">
            <div class="section-title">
                <h2>Why Choose iRiseUp Academy for Learning New Skills</h2>
                <p>Discover the <span><u>top reasons</u></span> why iRiseUp Academy is the perfect place to grow.</p>
                <p class="subtext">Prepare for retirement jobs, or learn new, easy-to-master skills.</p>
            </div>
                
            <div class="row">                                    
                <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="single_feature_one">
                        <div class="sf_top">
                            <span class="fas fa-laptop" style="font-size: 24px; color: #00796b;"></span>
                            <h2><a href="{% url 'start_quiz' %}" target="_blank">Learn Anytime, Anywhere</a></h2>
                        </div>
                        <p>Access courses from any device, whenever it suits you. Perfect for retirees, side hustlers, or those balancing multiple jobs looking to upskill at their own pace.</p>
                    </div>                    
                </div>                                 
                <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                    <div class="single_feature_one">
                        <div class="sf_top">
                            <span class="fas fa-chalkboard-teacher" style="font-size: 24px; color: #00796b;"></span>
                            <h2><a href="{% url 'start_quiz' %}" target="_blank">Expert Instructors</a></h2>
                        </div>  
                        <p>Learn directly from industry professionals with real-world experience. Whether you're looking to change careers or start a side hustle, we ensure you get the best guidance.</p>
                    </div>                    
                </div>                                 
                <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                    <div class="single_feature_one">
                        <div class="sf_top">
                            <span class="fas fa-users" style="font-size: 24px; color: #00796b;"></span>
                            <h2><a href="{% url 'start_quiz' %}" target="_blank">Community Support</a></h2>
                        </div>  
                        <p>Join a thriving community of learners, where you can connect with others starting new retirement jobs, side hustles, or looking to develop in-demand skills.</p>
                    </div>                    
                </div>                                 
                <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
                    <div class="single_feature_one">
                        <div class="sf_top">
                            <span class="fas fa-calendar-alt" style="font-size: 24px; color: #00796b;"></span>
                            <h2><a href="{% url 'start_quiz' %}" target="_blank">Personalized Course Planning</a></h2>
                        </div>  
                        <p>Receive tailored course suggestions based on your career goals—whether you're planning for a new career after retirement or looking to master an easy job on the side.</p>
                    </div>                    
                </div>                                 
                <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0">
                    <div class="single_feature_one">
                        <div class="sf_top">
                            <span class="fas fa-chart-line" style="font-size: 24px; color: #00796b;"></span>
                            <h2><a href="{% url 'start_quiz' %}" target="_blank">Progress Tracking</a></h2>
                        </div>      
                        <p>Track your learning progress and achievements as you build new skills. Whether you're starting a new retirement job or upskilling for a side hustle, you'll stay motivated and on course.</p>
                    </div>                    
                </div>                                 
                <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="0">
                    <div class="single_feature_one">
                        <div class="sf_top">
                            <span class="fas fa-headset" style="font-size: 24px; color: #00796b;"></span>
                            <h2><a href="{% url 'start_quiz' %}" target="_blank">24/7 Dedicated Support</a></h2>
                        </div>      
                        <p>Need help? Our support team is available 24/7 to assist you, so you can focus on building your skills, starting new side hustles, or preparing for your next career move.</p>
                    </div>                    
                </div>                                                                 
            </div><!-- END ROW -->
        </div><!-- END CONTAINER -->
    </section>
    
    
     

	<!-- END WHY CHOOSE US -->
<!-- START COURSE PROMOTION -->
<section class="course_promo section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="cp_content">
                    <h4>The Best Platform for Learning New Skills</h4>
                    <h2>One Platform, Countless <span><u>Courses</u></span> to Build Your Future</h2>
                    <p>Whether you’re aiming to master digital marketing, web development, graphic design, or kick-start a side hustle, iRiseUp Academy equips you with the tools and guidance you need to thrive. Our flexible courses are tailored for busy individuals, allowing you to learn at your own pace.</p>
                    <ul>
                        <li><span class="ti-check"></span>9/10 Average Student Satisfaction Rate</li>
                        <li><span class="ti-check"></span>96% Course Completion Rate</li>
                        <li><span class="ti-check"></span>Supportive Environment & Expert Instructors</li>
                    </ul>
                </div>
                <div class="cp_btn">
                    <a href="{% url 'start_quiz' %}" class="cta" aria-label="Explore Courses at iRiseUp Academy">
                        <span>Explore Our Courses</span>
                        <svg width="13px" height="10px" viewBox="0 0 13 10" role="img" aria-hidden="true">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                <div class="cp_img">
                    <img src="{% static 'myapp/images/iriseup/2.png' %}" class="img-fluid" alt="Learn New Skills Online with iRiseUp Academy">
                </div>
            </div>
        </div>
    </div>
</section>



	
	<!-- START NEWSLETTER -->
    <section class="newsletter_area section-padding">
        <div class="container">
            <div class="row text-center">            
                <div class="col-lg-6 offset-lg-3 col-sm-12 col-xs-12">
                    <div class="subs_form">
                        <h3>Stay Updated with iRiseUp Academy! No Spam, Just Valuable Insights.</h3>
                        <p>Get the latest tips, updates, and special offers directly to your inbox. Join our community of learners and stay ahead in your career!</p>
                        <form action="#" class="home_subs" method="POST">
                            {% csrf_token %}
                            <input type="email" class="subscribe__input" placeholder="Enter your Email Address" name="email" required>
                            <button type="submit" class="subscribe__btn"><i class="sf_top"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Add this somewhere in your base template -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

	
	<!-- 
	<section class="topic_content_area section-padding">
	   <div class="container">
			<div class="section-title">
				<h2>Start Learning</h2>
				<p>Popular <span><u>Topics To Learn</u></span> From Today.</p>
			</div>
			<div class="row">									
				<div class="col-lg-4 col-sm-6 col-xs-12">
					<div class="single_tca">
						<img src="{% static 'myapp/images/icon/ct1.svg' %}" alt="UI/UX Design Icon">
						<h2><a href="{% url 'start_quiz' %}">UI/UX Design</a></h2>
						<span>71 Courses</span>
					</div>					
				</div>
				
				<div class="col-lg-4 col-sm-6 col-xs-12">
					<div class="single_tca">
						<img src="{% static 'myapp/images/icon/ct2.svg' %}" alt="Digital Program Icon">
						<h2><a href="{% url 'start_quiz' %}">Digital Program</a></h2>
						<span>59 Courses</span>
					</div>					
				</div>
				<div class="col-lg-4 col-sm-6 col-xs-12">
					<div class="single_tca">
						<img src="{% static 'myapp/images/icon/ct3.svg' %}" alt="Finance Icon">
						<h2><a href="{% url 'start_quiz' %}">Finance</a></h2>
						<span>68 Courses</span>
					</div>					
				</div>
				
			</div>
		</div>
	</section>
	
	
	{% load static %}

<section class="our-event section-padding">
	<div class="container">
		<div class="section-title">
			<h2>Upcoming Events</h2>
			<p>Join With Us <span><u>Our Events</u></span></p>
		</div>				
		<div class="row">				
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<div class="event-slide">
					<div class="event-slide es">
						<div class="ed_mb">
							<span class="date">26</span>
							<span class="month">Oct</span>
						</div>							
						<div class="event-content ec_pd">
							<h3><a href="{% url 'start_quiz' %}">Chiter Astana Event</a></h3>
							<span><i class="fa fa-clock-o"></i>10.00AM - 12.00PM</span>
							<span><i class="fa fa-table"></i><strong>At iRiseUp School</strong></span>
							<p>Lorem ipsum dolor sit amet magna consectetur adipisicing elit.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<div class="event-slide es">
					<div class="ed_mb">
						<span class="date">26</span>
						<span class="month">Oct</span>
					</div>							
					<div class="event-content ec_pd">
						<h3><a href="{% url 'start_quiz' %}">Chiter Astana Event</a></h3>
						<span><i class="fa fa-clock-o"></i>10.00AM - 12.00PM</span>
						<span><i class="fa fa-table"></i><strong>At iRiseUp School</strong></span>
						<p>Lorem ipsum dolor sit amet magna consectetur adipisicing elit.</p>
					</div>
				</div> 
			</div> 
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<div class="event-slide es">
					<div class="ed_mb">
						<span class="date">26</span>
						<span class="month">Oct</span>
					</div>							
					<div class="event-content ec_pd">
						<h3><a href="{% url 'start_quiz' %}">Chiter Astana Event</a></h3>
						<span><i class="fa fa-clock-o"></i>10.00AM - 12.00PM</span>
						<span><i class="fa fa-table"></i><strong>At iRiseUp School</strong></span>
						<p>Lorem ipsum dolor sit amet magna consectetur adipisicing elit.</p>
					</div>
				</div> 
				<div class="event-slide es">
					<div class="ed_mb">
						<span class="date">29</span>
						<span class="month">Oct</span>
					</div>	
					<div class="event-content ec_pd">						
						<h3><a href="{% url 'start_quiz' %}">Dasel Bhai Program</a></h3>
						<span><i class="fa fa-clock-o"></i>10.00AM - 12.00PM</span>
						<span><i class="fa fa-table"></i><strong>At iRiseUp School</strong></span>
						<p>Lorem ipsum dolor sit amet magna consectetur adipisicing elit.</p>							
					</div>
				</div> 	
			</div> 
		</div> 
	</div>			
</section>
END ROW -->
	 	
	
	<!-- START TESTIMONIALS-->
	{% load static %}

    <section class="testi_home_area section-padding">
        <div class="container">
            <div class="section-title">
                <h2>What Our Students Say</h2>
                <p>See Why <span><u>People Love Learning</u></span> with iRiseUp Academy</p>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="testimonial-slider" class="owl-carousel">
                        <div class="testimonial">
                            <div class="testimonial_content">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>"iRiseUp Academy helped me upgrade my skills in digital marketing. The courses are top-notch, and the support is fantastic!"</p>
                            </div>
                            <div class="testi_pic_title tpt_one">
                                <div class="pic">
                                    <img src="{% static 'myapp/images/iriseup/male1.webp' %}" alt="James Clayton - Digital Marketing Specialist">
                                </div> 
                                <h4>James Clayton</h4>
                                <small class="post">- Digital Marketing Specialist</small>
                            </div>
                        </div><!-- END TESTIMONIAL -->
                        <div class="testimonial">
                            <div class="testimonial_content">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>"The permaculture courses at iRiseUp Academy have been life-changing. I now have a deeper understanding of sustainable living and how to apply permaculture principles to create thriving ecosystems."</p>
                            </div>
                            <div class="testi_pic_title tpt_two">
                                <div class="pic">
                                    <img src="{% static 'myapp/images/iriseup/male2.webp' %}" alt="Laura Green - Permaculture Enthusiast">
                                </div>
                                <h4>Laura Green</h4>
                                <small class="post">- Permaculture Enthusiast</small>
                            </div>
                        </div><!-- END TESTIMONIAL -->
                        <div class="testimonial">
                            <div class="testimonial_content">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>"Thanks to iRiseUp Academy, I now feel confident managing social media campaigns for my clients. The courses were easy to follow!"</p>
                            </div>
                            <div class="testi_pic_title tpt_three">
                                <div class="pic">
                                    <img src="{% static 'myapp/images/iriseup/male3.jpg' %}" alt="Alex Feroundo - Social Media Manager">
                                </div>
                                <h4>Alex Feroundo</h4>
                                <small class="post">- Social Media Manager</small>
                            </div>
                        </div><!-- END TESTIMONIAL -->
                    </div><!-- END TESTIMONIAL SLIDER -->
                </div><!-- END COL  -->
            </div><!-- END ROW -->
        </div><!-- END CONTAINER -->
    </section>
    
	<!-- END TESTIMONIALS -->
	
	<!-- 
	<section class="team_home_area section-padding">
		<div class="container">
			<div class="section-title">
				<h2>Team Member</h2>
				<p>Our Expert <span><u>Instructors</u></span></p>
			</div>		
			<div class="row">								
				<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
					<div class="single-team-home">
						<div class="img">
							<img src="{% static 'myapp/images/all-img/team1.jpg' %}" class="img-fluid" alt="Marina Mojo">
						</div>
						<div class="team-content-home">
							<h3>Marina Mojo</h3>
							<p>Developer</p>
							<div class="sth_det">
								<span class="ti-file"> <u>5 Course</u></span>
								<span class="ti-user"> <u>12 Student</u></span>
							</div>
							<ul class="social-home">
								<li><a href="{% url 'start_quiz' %}" class="facebook-home"><i class="fa fa-facebook"></i></a></li>
								<li><a href="{% url 'start_quiz' %}" class="twitter-home"><i class="fa fa-twitter"></i></a></li>
								<li><a href="{% url 'start_quiz' %}" class="instagram-home"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div> 
				
				<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="single-team-home">
						<div class="img">
							<img src="{% static 'myapp/images/all-img/team2.jpg' %}" class="img-fluid" alt="Ayoub Fennouni">
						</div>
						<div class="team-content-home">
							<h3>Ayoub Fennouni</h3>
							<p>Logo Expert</p>
							<div class="sth_det">
								<span class="ti-file"> <u>5 Course</u></span>
								<span class="ti-user"> <u>7 Student</u></span>
							</div>
							<ul class="social-home">
								<li><a href="{% url 'start_quiz' %}" class="facebook-home"><i class="fa fa-facebook"></i></a></li>
								<li><a href="{% url 'start_quiz' %}" class="twitter-home"><i class="fa fa-twitter"></i></a></li>
								<li><a href="{% url 'start_quiz' %}" class="instagram-home"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div> 
	
				<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
					<div class="single-team-home">
						<div class="img">
							<img src="{% static 'myapp/images/all-img/team3.jpg' %}" class="img-fluid" alt="Mark Linomi">
						</div>
						<div class="team-content-home">
							<h3>Mark Linomi</h3>
							<p>Marketer</p>
							<div class="sth_det">
								<span class="ti-file"> <u>9 Course</u></span>
								<span class="ti-user"> <u>17 Student</u></span>
							</div>
							<ul class="social-home">
								<li><a href="{% url 'start_quiz' %}" class="facebook-home"><i class="fa fa-facebook"></i></a></li>
								<li><a href="{% url 'start_quiz' %}" class="twitter-home"><i class="fa fa-twitter"></i></a></li>
								<li><a href="{% url 'start_quiz' %}" class="instagram-home"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div> 
	
				<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
					<div class="single-team-home">
						<div class="img">
							<img src="{% static 'myapp/images/all-img/team4.jpg' %}" class="img-fluid" alt="Amira Yerden">
						</div>
						<div class="team-content-home">
							<h3>Amira Yerden</h3>
							<p>UI/UX Designer</p>
							<div class="sth_det">
								<span class="ti-file"> <u>15 Course</u></span>
								<span class="ti-user"> <u>31 Student</u></span>
							</div>
							<ul class="social-home">
								<li><a href="{% url 'start_quiz' %}" class="facebook-home"><i class="fa fa-facebook"></i></a></li>
								<li><a href="{% url 'start_quiz' %}" class="twitter-home"><i class="fa fa-twitter"></i></a></li>
								<li><a href="{% url 'start_quiz' %}" class="instagram-home"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div> 																							
			</div> END ROW -->
		</div><!-- END CONTAINER -->
	</section>
	<!-- END TEAM -->	
	
	<!-- START BLOG -->
    <section id="blog" class="blog_area section-padding">
        <div class="container">
            <div class="section-title">
                <h2>News</h2>
                <p>Our Latest <span><u>Blogs</u></span></p>
            </div>  
            <div class="row">  
                {% for blog in recent_blogs %}
                <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.{{ forloop.counter }}s" data-wow-offset="0">
                    <div class="single_blog">
                        {% if blog.image %}
                        <img src="{{ blog.image.url }}" class="img-fluid" alt="{{ blog.title }}">
                        {% else %}
                        <img src="{% static 'myapp/images/blog/placeholder.png' %}" class="img-fluid" alt="Placeholder image">
                        {% endif %}
                        <div class="content_box">
                            <span>{{ blog.publish_date|date:"F d, Y" }} | 
                                {% for category in blog.categories.all %}
                                <a href="#">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </span>
                            <h2><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h2>
                            <a href="{{ blog.get_absolute_url }}" class="cta">
                                <span>READ MORE</span>
                                <svg width="13px" height="10px" viewBox="0 0 13 10">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    

	{% include 'footer.html' %}
{% endblock %}