{% extends "myapp/base.html" %}

{% block title %}Login{% endblock %}

{% load static %}
{% block content %}


<body>

<div class="page-wrapper">
	
	<!-- Cursor -->
	<div class="cursor"></div>
	<div class="cursor-follower"></div>
	<!-- Cursor End -->
 	
	<!-- Preloader -->
	<div class="loader-wrap">
		<div class="preloader">
			<div class="preloader-close">x</div>
			<div id="handle-preloader" class="handle-preloader">
				<div class="animation-preloader">
					<div class="txt-loading">
						<span data-text-preloader="L" class="letters-loading">L</span>
						<span data-text-preloader="O" class="letters-loading">O</span>
						<span data-text-preloader="A" class="letters-loading">A</span>
						<span data-text-preloader="D" class="letters-loading">D</span>
						<span data-text-preloader="I" class="letters-loading">I</span>
						<span data-text-preloader="N" class="letters-loading">N</span>
						<span data-text-preloader="G" class="letters-loading">G</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader End -->
	
	<!-- Main Header -->
{% include 'header.html' %}
	<!-- End Main Header -->
	
	<!-- Page Title -->
    <section class="page-title">
			<div class="page-title-icon"></div>
			<div class="page-title-icon-two"></div>
			<div class="page-title-shadow"></div>
			<div class="page-title-shadow-two"></div>

        <div class="auto-container">
			<h2>Login now</h2>
			<ul class="bread-crumb clearfix">
				<li><a href="{% static 'myapp/index.html' %}"">Home</a></li>
				<li>Login now</li>
			</ul>
        </div>
    </section>
    <!-- End Page Title -->

	<!-- Register One -->
	<section class="register-one">
		<div class="auto-container">
			<div class="inner-container">
				<h3>Login</h3>
				<div class="text">Your email address will not be published.</div>

				<!-- Register Form -->
				<div class="register-form">
					<form method="post" action="{% url 'contact' %}">
						
						<div class="form-group">
							<label>Name*</label>
							<input type="text" name="name" placeholder="" required="">
						</div>

						<div class="form-group">
							<label>Password*</label>
							<span class="icon fa-regular fa-eye fa-fw"></span>
							<input type="password" name="password" placeholder="" required="">
						</div>

						<div class="form-group">
							<div class="d-flex justify-content-between align-items-center flex-wrap">
								<div class="check-box">
									<input type="checkbox" name="remember-password" id="type-1"> 
									<label for="type-1">Remember Me</label>
								</div>
								<a class="forgot-psw" href="#">Forget Password?</a>
							</div>
						</div>
						
						<div class="form-group">
							<!-- Button Box -->
							<button type="submit" class="submit-btn btn-style-one">
								<span class="btn-wrap">
									<span class="text-one">login now</span>
									<span class="text-two">login now</span>
								</span>
							</button>
						</div>
						
						<div class="form-group">
							<div class="creat-account">Don't have an account? <a href="#">Create a free account</a></div>
						</div>

					</form>
				</div>
				<!-- End Default Form -->

			</div>
		</div>
	</section>
	<!-- End Register One -->

	<!-- CTA One -->
	{% include 'ctaone.html' %}
	<!-- End CTA One -->

	<!-- Main Footer -->
	{% include 'footer.html' %}
<!-- End PageWrapper -->

 


{% endblock %}