{% extends "myapp/aibots/base.html" %}

{% block title %}Team{% endblock %}

{% load static %}
{% block content %}

<body>

<div class="page-wrapper">
	
	<!-- Cursor -->
	<div class="cursor"></div>
	<div class="cursor-follower"></div>
	<!-- Cursor End -->
 	
	<!-- Preloader -->
	  <!--       
	<div class="loader-wrap">
		<div class="preloader">
			<div class="preloader-close">x</div>
			<div id="handle-preloader" class="handle-preloader">
				<div class="animation-preloader">
					<div class="txt-loading">
						<span data-text-preloader="L" class="letters-loading">L</span>
						<span data-text-preloader="O" class="letters-loading">O</span>
						<span data-text-preloader="A" class="letters-loading">A</span>
						<span data-text-preloader="D" class="letters-loading">D</span>
						<span data-text-preloader="I" class="letters-loading">I</span>
						<span data-text-preloader="N" class="letters-loading">N</span>
						<span data-text-preloader="G" class="letters-loading">G</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->
	<!-- Preloader End -->
	
	<!-- Main Header -->
{% include 'header.html' %}
	<!-- End Main Header -->
	
	<!-- Page Title -->
    <section class="page-title">
		<div class="page-title-icon"></div>
			<div class="page-title-icon-two"></div>
			<div class="page-title-shadow"></div>
			<div class="page-title-shadow-two"></div>
        <div class="auto-container">
			<h2>Our team</h2>
			<ul class="bread-crumb clearfix">
				<li><a href="{% url 'index' %}"">Home</a></li>
				<li>team</li>
			</ul>
        </div>
    </section>
    <!-- End Page Title -->

	<!-- Team Two -->
	<section class="team-two">
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Team Block One -->
				<div class="team-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="team-block_one-inner">
						<div class="team-block_one-image">
							<a href="{% url 'teamdetail' %}"><img src="{% static 'myapp/images/resource/team-1.jpg' %}" alt="" /></a>
						</div>
						<div class="team-block_one-content">
							<h4 class="team-block_one-title"><a href="{% url 'teamdetail' %}">Elliot S. Acevedo</a></h4>
							<div class="team-block_one-designation">Founder</div>
							<!-- Social Box -->
							<div class="team-block_one-socials">
								<a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
								<a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
								<a href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Team Block One -->
				<div class="team-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="team-block_one-inner">
						<div class="team-block_one-image">
							<a href="{% url 'teamdetail' %}"><img src="{% static 'myapp/images/resource/team-2.jpg' %}" alt="" /></a>
						</div>
						<div class="team-block_one-content">
							<h4 class="team-block_one-title"><a href="{% url 'teamdetail' %}">Ronald Richards</a></h4>
							<div class="team-block_one-designation">Founder</div>
							<!-- Social Box -->
							<div class="team-block_one-socials">
								<a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
								<a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
								<a href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Team Block One -->
				<div class="team-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="team-block_one-inner">
						<div class="team-block_one-image">
							<a href="{% url 'teamdetail' %}">
								<img src="{% static 'myapp/images/resource/team-3.jpg' %}" alt="" /></a>
						</div>
						<div class="team-block_one-content">
							<h4 class="team-block_one-title"><a href="{% url 'teamdetail' %}">Guy Hawkins</a></h4>
							<div class="team-block_one-designation">Founder</div>
							<!-- Social Box -->
							<div class="team-block_one-socials">
								<a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
								<a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
								<a href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Team Block One -->
				<div class="team-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="team-block_one-inner">
						<div class="team-block_one-image">
							<a href="{% url 'teamdetail' %}"><img src="{% static 'myapp/images/resource/team-4.jpg' %}" alt="" /></a>
						</div>
						<div class="team-block_one-content">
							<h4 class="team-block_one-title"><a href="{% url 'teamdetail' %}">Albert Flores</a></h4>
							<div class="team-block_one-designation">Founder</div>
							<!-- Social Box -->
							<div class="team-block_one-socials">
								<a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
								<a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
								<a href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Team Block One -->
				<div class="team-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="team-block_one-inner">
						<div class="team-block_one-image">
							<a href="{% url 'teamdetail' %}"><img src="{% static 'myapp/images/resource/team-5.jpg' %}" alt="" /></a>
						</div>
						<div class="team-block_one-content">
							<h4 class="team-block_one-title"><a href="{% url 'teamdetail' %}">Jacob Jones</a></h4>
							<div class="team-block_one-designation">Founder</div>
							<!-- Social Box -->
							<div class="team-block_one-socials">
								<a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
								<a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
								<a href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Team Block One -->
				<div class="team-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="team-block_one-inner">
						<div class="team-block_one-image">
							<a href="{% url 'teamdetail' %}"><img src="{% static 'myapp/images/resource/team-6.jpg' %}" alt="" /></a>
						</div>
						<div class="team-block_one-content">
							<h4 class="team-block_one-title"><a href="{% url 'teamdetail' %}">Robert Fox</a></h4>
							<div class="team-block_one-designation">Founder</div>
							<!-- Social Box -->
							<div class="team-block_one-socials">
								<a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
								<a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
								<a href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- Styled Pagination -->
			<ul class="styled-pagination text-center">
				<li><a href="#" class="active">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li class="next"><a href="#"><span class="fa-solid fa-angle-right fa-fw"></span></a></li>
			</ul>
			<!-- End Styled Pagination -->

		</div>
	</section>
	<!-- End Team Two -->
	
	<!-- CTA One -->
	{% include 'ctaone.html' %}
	<!-- End CTA One -->

	<!-- Main Footer -->
	{% include 'footer.html' %}
<!-- End PageWrapper -->

 


{% endblock %}