{% extends "myapp/base.html" %}

{% block title %}Testimonial{% endblock %}

{% load static %}
{% block content %}

<body>

<div class="page-wrapper">
	
	<!-- Cursor -->
	<div class="cursor"></div>
	<div class="cursor-follower"></div>
	<!-- Cursor End -->
 	
	<!-- Preloader -->
	<div class="loader-wrap">
		<div class="preloader">
			<div class="preloader-close">x</div>
			<div id="handle-preloader" class="handle-preloader">
				<div class="animation-preloader">
					<div class="txt-loading">
						<span data-text-preloader="L" class="letters-loading">L</span>
						<span data-text-preloader="O" class="letters-loading">O</span>
						<span data-text-preloader="A" class="letters-loading">A</span>
						<span data-text-preloader="D" class="letters-loading">D</span>
						<span data-text-preloader="I" class="letters-loading">I</span>
						<span data-text-preloader="N" class="letters-loading">N</span>
						<span data-text-preloader="G" class="letters-loading">G</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader End -->
	
	<!-- Main Header -->
{% include 'header.html' %}
	<!-- End Main Header -->
	
	<!-- Page Title -->
    <section class="page-title">
		<div class="page-title-icon"></div>
			<div class="page-title-icon-two"></div>
			<div class="page-title-shadow"></div>
			<div class="page-title-shadow-two"></div>
        <div class="auto-container">
			<h2>Clients testimonialss</h2>
			<ul class="bread-crumb clearfix">
				<li><a href="{% url 'index' %}"">Home</a></li>
				<li>Testimonial</li>
			</ul>
        </div>
    </section>
    <!-- End Page Title -->

	<!-- Testimonial Four -->
	<section class="testimonial-four">
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Testimonial Block One -->
				<div class="testimonial-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="testimonial-block_one-inner">
						<div class="testimonial-block_one-rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
						<div class="testimonial-block_one-text">Lorem ipsum amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit <span>Pellentesque sit amet</span> sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue.</div>
						<div class="testimonial-block_one-author_box">
							<div class="testimonial-block_one-author-image">
								<img src="{% static 'myapp/images/resource/author-2.png' %}" alt="" />
							</div>
							Larry K. Lund <span>Social Media Manger</span>
						</div>
					</div>
				</div>

				<!-- Testimonial Block One -->
				<div class="testimonial-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="testimonial-block_one-inner">
						<div class="testimonial-block_one-rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
						<div class="testimonial-block_one-text">Lorem ipsum amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit <span>Pellentesque sit amet</span> sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue.</div>
						<div class="testimonial-block_one-author_box">
							<div class="testimonial-block_one-author-image">
								<img src="{% static 'myapp/images/resource/author-3.png' %}" alt="" />
							</div>
							Marian R. Vieira <span>Social Media Manger</span>
						</div>
					</div>
				</div>

				<!-- Testimonial Block One -->
				<div class="testimonial-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="testimonial-block_one-inner">
						<div class="testimonial-block_one-rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
						<div class="testimonial-block_one-text">Lorem ipsum amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit <span>Pellentesque sit amet</span> sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue.</div>
						<div class="testimonial-block_one-author_box">
							<div class="testimonial-block_one-author-image">
								<img src="{% static 'myapp/images/resource/author-4.png' %}" alt="" />
							</div>
							Bob E. Wiggins <span>Social Media Manger</span>
						</div>
					</div>
				</div>

				<!-- Testimonial Block One -->
				<div class="testimonial-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="testimonial-block_one-inner">
						<div class="testimonial-block_one-rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
						<div class="testimonial-block_one-text">Lorem ipsum amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit <span>Pellentesque sit amet</span> sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue.</div>
						<div class="testimonial-block_one-author_box">
							<div class="testimonial-block_one-author-image">
								<img src="{% static 'myapp/images/resource/author-8.png' %}" alt="" />
							</div>
							Cameron Williamson <span>Web Designer</span>
						</div>
					</div>
				</div>

				<!-- Testimonial Block One -->
				<div class="testimonial-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="testimonial-block_one-inner">
						<div class="testimonial-block_one-rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
						<div class="testimonial-block_one-text">Lorem ipsum amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit <span>Pellentesque sit amet</span> sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue.</div>
						<div class="testimonial-block_one-author_box">
							<div class="testimonial-block_one-author-image">
								<img src="{% static 'myapp/images/resource/author-9.png' %}" alt="" />
							</div>
							Ralph Edwards <span>Nursing Assistant</span>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block One -->
				<div class="testimonial-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="testimonial-block_one-inner">
						<div class="testimonial-block_one-rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
						<div class="testimonial-block_one-text">Lorem ipsum amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit <span>Pellentesque sit amet</span> sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue.</div>
						<div class="testimonial-block_one-author_box">
							<div class="testimonial-block_one-author-image">
								<img src="{% static 'myapp/images/resource/author-10.png' %}" alt="" />
							</div>
							Brooklyn Simmons <span>Medical Assistant</span>
						</div>
					</div>
				</div>

				<!-- Testimonial Block One -->
				<div class="testimonial-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="testimonial-block_one-inner">
						<div class="testimonial-block_one-rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
						<div class="testimonial-block_one-text">Lorem ipsum amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit <span>Pellentesque sit amet</span> sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue.</div>
						<div class="testimonial-block_one-author_box">
							<div class="testimonial-block_one-author-image">
								<img src="{% static 'myapp/images/resource/author-11.png' %}" alt="" />
							</div>
							Kristin Watson <span>Dog Trainer</span>
						</div>
					</div>
				</div>

				<!-- Testimonial Block One -->
				<div class="testimonial-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="testimonial-block_one-inner">
						<div class="testimonial-block_one-rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
						<div class="testimonial-block_one-text">Lorem ipsum amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit <span>Pellentesque sit amet</span> sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue.</div>
						<div class="testimonial-block_one-author_box">
							<div class="testimonial-block_one-author-image">
								<img src="{% static 'myapp/images/resource/author-12.png' %}" alt="" />
							</div>
							Cody Fisher <span>President of Sales</span>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block One -->
				<div class="testimonial-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="testimonial-block_one-inner">
						<div class="testimonial-block_one-rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
						<div class="testimonial-block_one-text">Lorem ipsum amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit <span>Pellentesque sit amet</span> sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue.</div>
						<div class="testimonial-block_one-author_box">
							<div class="testimonial-block_one-author-image">
								<img src="{% static 'myapp/images/resource/author-13.png' %}" alt="" />
							</div>
							Dianne Russell <span>Marketing Coordinator</span>
						</div>
					</div>
				</div>

			</div>

			<!-- Styled Pagination -->
			<ul class="styled-pagination text-center">
				<li><a href="#" class="active">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li class="next"><a href="#"><span class="fa-solid fa-angle-right fa-fw"></span></a></li>
			</ul>
			<!-- End Styled Pagination -->

		</div>
	</section>
	<!-- End Testimonial Four -->

	<!-- CTA One -->
	{% include 'ctaone.html' %}
	<!-- End CTA One -->

	<!-- Main Footer -->
	{% include 'footer.html' %}
<!-- End PageWrapper -->

 


{% endblock %}