<div class="settings-main">
    <div>
        <a href="{% url 'personal_info_update' %}">
            <div class="settings-main-sub">
                <img class="menu-girl-img" src="#" alt="girl">
                <div>
                    <h2 class="smith">Jessica Smith</h2>
                    <p class="smith-email">jessica_smith@mail.com</p>
                </div>
            </div>
        </a>
    </div>


    <a href="{% url 'cancel_subscription' %}">
        <div class="setting-opestion-main setting-opestion-space">
            <div class="setting-opestion-main-sub">
                <h2 class="smith new-chat p-0">Subscriptions</h2>
            </div>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </a>

    <a href="{% url 'personal_information' %}">
        <div class="setting-opestion-main setting-opestion-space">
            <div class="setting-opestion-main-sub">
                <h2 class="smith new-chat">Personal Info</h2>
            </div>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </a>

    <a href="{% url 'security' %}">
        <div class="setting-opestion-main setting-opestion-space">
            <div class="setting-opestion-main-sub">
                <h2 class="smith new-chat">Security</h2>
            </div>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </a>

    <a href="{% url 'marketing_preferences' %}">
        <div class="setting-opestion-main setting-opestion-space">
            <div class="setting-opestion-main-sub">
                <h2 class="smith new-chat">Marketing Preferences</h2>
            </div>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </a>

    <a href="{% url 'notification_setting' %}">
        <div class="setting-opestion-main setting-opestion-space">
            <div class="setting-opestion-main-sub">
                <h2 class="smith new-chat">Notification Options</h2>
            </div>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </a>


    <a href="{% url 'faq' %}">
        <div class="setting-opestion-main setting-opestion-space">
            <div class="setting-opestion-main-sub">
                <h2 class="smith new-chat">FAQs</h2>
            </div>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </a>

    <a href="{% url 'data_privacy' %}">
        <div class="setting-opestion-main setting-opestion-space">
            <div class="setting-opestion-main-sub">
                <h2 class="smith new-chat">Data & Privacy Policy</h2>
            </div>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </a>

    <a href="{% url 'about_amigo' %}">
        <div class="setting-opestion-main setting-opestion-space">
            <div class="setting-opestion-main-sub">
                <h2 class="smith new-chat">About iRiseUp.Ai</h2>
            </div>
            <p class="version">v1.0.0</p>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </a>

    <a href="{% url 'feedback' %}">
        <div class="setting-opestion-main setting-opestion-space">
            <div class="setting-opestion-main-sub">
                <h2 class="smith new-chat">Send Feedback</h2>
            </div>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </a>

    <a href="{% url 'contact_us' %}">
        <div class="setting-opestion-main setting-opestion-space">
            <div class="setting-opestion-main-sub">
                <h2 class="smith new-chat">Contact Us</h2>
            </div>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </a>

    <a href="{% url 'delete_deactivate' %}">
        <div class="setting-opestion-main setting-opestion-space">
            <div class="setting-opestion-main-sub">
                <h2 class="smith new-chat">Delete or Deactivate Account</h2>
            </div>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </a>

    <a href="{% url 'sign_out' %}">
        <div class="setting-opestion-main setting-opestion-space border-bottom-0">
            <div class="setting-opestion-main-sub">
                <h2 class="smith new-chat">Logout</h2>
            </div>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </a>
</div>
