<!-- /Users/Julia/Downloads/braine-package/customadmin/templates/customadmin/delete_user.html -->

{% extends "customadmin/base.html" %}
{% block title %}Delete User{% endblock %}
{% block content %}
<div class="container">
    <h1>Delete User</h1>
    <p>Are you sure you want to delete this user?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'user_management' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
